tarjonta-publication-api/src/main/resources/wsdl/learningServiceCommon.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema elementFormDefault="qualified"
           targetNamespace="http://publication.tarjonta.sade.vm.fi/types" version="1.0"
           xmlns:xml="http://www.w3.org/XML/1998/namespace"
           xmlns:tns="http://publication.tarjonta.sade.vm.fi/types"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="LearningOpportunityDownloadData">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:LearningOpportunityDownloadDataType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="LearningOpportunityUploadData">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:LearningOpportunityUploadDataType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="EmailAddress">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Rakenne yhden sahkopostiosoitten esittamiseksi
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="PostalAddress">
        <xs:complexType>
            <xs:group ref="tns:PostalAddressGroup"/>
        </xs:complexType>
    </xs:element>



    <!-- ============================================================================================ -->
    <!-- Complex types                                                                                -->
    <!-- ============================================================================================ -->

    <!-- ============================================================================================ -->
    <!-- LearningOpportunityUploadData                                                                -->
    <!-- ============================================================================================ -->

    <xs:complexType name="LearningOpportunityUploadDataType">
        <xs:sequence>

            <xs:element name="LearningOpportunitySpecification"
                        type="tns:LearningOpportunitySpecificationType"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Koulutusmoduulit. 0-n kappaletta.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="LearningOpportunityInstance"
                        type="tns:LearningOpportunityInstanceType"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Koulutusmoduulien toteutukset. 0 - n kappaletta.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="LearningOpportunityProvider"
                        type="tns:LearningOpportunityProviderType"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Koulutuksen tarjoajat. 0-n kappaletta.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ApplicationOption"
                        type="tns:ApplicationOptionType"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Hautkohteet. 0-n kappaletta.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

        </xs:sequence>
    </xs:complexType>


    <!-- ============================================================================================ -->
    <!-- LearningOpportunityDownloadData                                                              -->
    <!-- ============================================================================================ -->

    <xs:complexType name="LearningOpportunityDownloadDataType">
        <xs:sequence>

            <xs:element name="LearningOpportunitySpecification"
                        type="tns:LearningOpportunitySpecificationType"
                        minOccurs="1"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Koulutusmoduulit. 1-n kappaletta.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="LearningOpportunityInstance"
                        type="tns:LearningOpportunityInstanceType"
                        minOccurs="1"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Koulutusmoduulien toteutukset. 1 - n kappaletta.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="LearningOpportunityProvider"
                        type="tns:LearningOpportunityProviderType"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Koulutuksen tarjoajat. 0-n kappaletta.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ApplicationSystem"
                        type="tns:ApplicationSystemType"
                        minOccurs="1"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Haut. 1-n kappaletta.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>


            <xs:element name="ApplicationOption"
                        type="tns:ApplicationOptionType"
                        minOccurs="1"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Hautkohteet. 1-n kappaletta.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

        </xs:sequence>
    </xs:complexType>


    <!-- ============================================================================================ -->
    <!-- ApplicationOption                                                                            -->
    <!-- ============================================================================================ -->

    <xs:complexType name="ApplicationOptionType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Suomenkielinen termi: hakukohde
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>

            <xs:element name="Identifier">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Hakukohteen yksiloiva tunniste. Tarkennettava missa scopessa ja mika formaatti.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string"/>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>

            <xs:element name="Title"
                        type="tns:CodeValueType"
                        minOccurs="1"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Hakukohteen nimi, esim. Ensihoidon koulutusohjelma, yo. Nimet ovat
                        koodistossa maariteltyja.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ApplicationSystemRef"
                        type="tns:ApplicationSystemRefType"
                        minOccurs="1"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Viittaus hakuun johon kyseinen hakukohde kuuluu.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="EligibilityRequirements"
                        type="tns:EligibilityRequirementsType"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Hakukelpoisuus vaatimukset.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="SelectionCriterions"
                        type="tns:SelectionCriterionsType"
                        minOccurs="1"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Valintaperusteet
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="LearningOpportunities"
                        minOccurs="1"
                        maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="InstanceRef"
                                    type="tns:LearningOpportunityInstanceRefType"
                                    minOccurs="1"
                                    maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="Description"
                        type="tns:ExtendedStringType"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Yleinen hakukohteen kuvaus.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SelectionCriterionsType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Valintaperusteet.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>

            <xs:element name="StartingQuota"
                        type="xs:integer">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Aloituspaikkojen maara.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="LastYearMinScore"
                        type="xs:integer"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Edellisen vuoden alin hyvaksytty pistemaara.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="LastYearMaxScore"
                        type="xs:integer"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Edellisen vuoden ylin hyvaksytty pistemaara.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>


            <xs:element name="LastYearTotalApplicants"
                        type="xs:integer"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Edellisen vuoden hakijoiden maara.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>


            <xs:element name="Description"
                        type="tns:ExtendedStringType"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Vapaa kuvaus valintaperusteista eri kielilla.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="EntranceExaminations"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Valintakoe tiedot
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Description"
                                    type="tns:ExtendedStringType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    Vapaamuotoinen kuvaus kaikista valintakokeista.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:choice>
                            <xs:element name="NoExam">
                                <xs:annotation>
                                    <xs:documentation xml:lang="fi">
                                        Ei valintakoetta.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>

                            <xs:element name="Examination"
                                        maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>

                                        <xs:element name="ExaminationType"
                                                    type="tns:CodeValueType"
                                                    minOccurs="1"
                                                    maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="fi">
                                                    Kertoo valintakokeen tyypin, esim. "Paasy- ja soveltuvuuskoe"
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>

                                        <xs:element name="Description"
                                                    type="tns:ExtendedStringType"
                                                    minOccurs="0"
                                                    maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="fi">
                                                    Yhden valintakokeen kuvaus halutuilla kielilla.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>

                                        <xs:element name="ExaminationEvent"
                                                    type="tns:ExaminationEventType"
                                                    minOccurs="1"
                                                    maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="fi">
                                                    Valintakoetapahtuma, 1 tai useampia.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>

                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="Attachments"
                        type="tns:AttachmentCollectionType"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Vaadittavat liitteet.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AttachmentCollectionType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Joukko liitetiedosto kuvauksia (hakukohde).
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Attachment"
                        minOccurs="1"
                        maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element name="Type"
                                    type="tns:CodeValueType"
                                    minOccurs="1"
                                    maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Liitteen tyyppi, esim. ennakkotehtava
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="Description"
                                    type="tns:LocalizedTextType"
                                    minOccurs="0"
                                    maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Liitteen vapaa kuvaus
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="Return">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Liitteen palautuksen tiedot
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>

                                    <xs:element name="DueDate"
                                                type="xs:dateTime"
                                                minOccurs="1"
                                                maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="fi">
                                                Viimeinen palautus paiva/aika.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>

                                    <xs:element name="To">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="fi">
                                                Liitteen palautus osoite. Todo: halutaanko useita osoitteita,
                                                seka posti etta sahkoposti tms.
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element ref="tns:EmailAddress" minOccurs="0" maxOccurs="1"/>
                                                <xs:element ref="tns:PostalAddress" minOccurs="0" maxOccurs="1"/>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>

                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="ExaminationEventType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Valintakoetapahtuma, sijoittaa valintakokeen aikaan ja paikkaan.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Start" type="xs:dateTime"></xs:element>
            <xs:element name="End" type="xs:dateTime"></xs:element>
            <xs:element name="Locations">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Location"
                                    type="tns:ExaminationLocationType"
                                    minOccurs="1"
                                    maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ExaminationLocationType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Name" type="tns:ShortName"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Sijaintia kuvaava nimi.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="tns:PostalAddressGroup"/>
        </xs:sequence>
    </xs:complexType>



    <xs:complexType name="EligibilityRequirementsType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Kelpoisuus vaatimukset.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Description"
                        type="tns:ExtendedStringType"
                        minOccurs="1"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Vapaa kuvaus valitulla kielella.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ApplicationSystemRefType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Viittaus hakuun.
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="OidRef" type="tns:OidRefType">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Viittaus hakun haun julkisella OID tunnisteella.
                    </xs:documentation>
                </xs:annotation>

            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="LearningOpportunityObjectType" abstract="true">
        <xs:sequence>
            <xs:element name="Name"
                        type="tns:ExtendedStringType"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Nimi, voidaan tallentaan useilla kielilla.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <!-- ============================================================================================ -->
    <!-- LearningOpportunitySpecification                                                             -->
    <!-- ============================================================================================ -->

    <xs:complexType name="LearningOpportunitySpecificationType">
        <xs:complexContent>
            <!-- todo: siirra nimi group:iin -->
            <xs:extension base="tns:LearningOpportunityObjectType">
                <xs:sequence>

                    <xs:group ref="tns:IdentifierGroup"/>

                    <xs:element name="OrganizationRef"
                                type="tns:OrganizationRefType"
                                minOccurs="1"
                                maxOccurs="1"/>

                    <xs:element name="OfferedBy"
                                type="tns:LearningOpportunityProviderRefType"
                                minOccurs="0"
                                maxOccurs="1"/>

                    <!-- Classification:n alle? -->
                    <xs:element name="Credits"
                                type="tns:CreditsType"
                                minOccurs="0"
                                maxOccurs="1"/>

                    <!-- Classification:n alle? -->
                    <xs:element name="Qualification"
                                type="tns:CodeValueType"
                                minOccurs="0"
                                maxOccurs="1"/>

                    <xs:element name="DegreeTitle"
                                type="tns:ExtendedStringType"
                                minOccurs="0"
                                maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">
                                Koulutukseen liittyvan tutkinnon nimi. Esim. 'sosiaali- ja terveysalan perustutkinto'.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>

                    <xs:element name="Classification" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">
                                Koulutuksen luokittelutiedot.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>

                                <xs:element name="EducationClassification"
                                            type="tns:CodeValueType"
                                            minOccurs="0"
                                            maxOccurs="1">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="fi">
                                            Koulutusluokitus. Tyypillisesti Tilastokeskuksen hallinnoima koodisto.
                                            Katso: http://www.stat.fi/meta/luokitukset/koulutus/001-2010/index.html.
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>

                                <xs:element name="EducationDomain"
                                            type="tns:CodeValueType"
                                            minOccurs="0"
                                            maxOccurs="1">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="fi">
                                            Koulutusala. Tunnettuja koodistoja mm. Opetushallinnon koulutusalaluokitus (2010):
                                            http://www.tilastokeskus.fi/meta/luokitukset/koulutus_oh/001-2002-09-27/index.html.
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>

                                <xs:element name="EducationDegree"
                                            type="tns:CodeValueType"
                                            minOccurs="0"
                                            maxOccurs="1">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="fi">
                                            Koulutusaste. Tunnettuja koodistoja mm. Opetushallinnon koulutusasteluokitus:
                                            http://www.minedu.fi/export/sites/default/OPM/Koulutus/koulutusjaerjestelmae/liitteet/koulutusluokitukset.pdf
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>

                                <xs:element name="StudyDomain"
                                            type="tns:CodeValueType"
                                            minOccurs="0"
                                            maxOccurs="1">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="fi">
                                            Opintoala. Tunnettuja koodistoja mm. Opetushallinnon opintoalaluokitus:
                                            http://www.minedu.fi/export/sites/default/OPM/Koulutus/koulutusjaerjestelmae/liitteet/koulutusluokitukset.pdf
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>

                                <xs:element name="EqfClassification"
                                            type="tns:CodeValueType"
                                            minOccurs="0"
                                            maxOccurs="1">
                                    <xs:annotation>
                                        <xs:documentation>

                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>

                                <xs:element name="NqfClassification"
                                            type="tns:CodeValueType"
                                            minOccurs="0"
                                            maxOccurs="1"/>

                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="Description" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">
                                Koulutusta kuvailevat tiedot.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>

                                <xs:element name="StructureDiagram"
                                            type="tns:ExtendedStringType"
                                            minOccurs="0"
                                            maxOccurs="unbounded">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="fi">
                                            Koulutuksen rakenne tekstikuvauksena. Tarpeellinen?
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>

                                <xs:element name="EducationAndProfessionalGoals"
                                            type="tns:ExtendedStringType"
                                            minOccurs="0"
                                            maxOccurs="unbounded">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="fi">
                                            Koulutukselliset ja ammatilliset tavoitteet.
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>

                                <xs:element name="AccessToFurtherStudies"
                                            type="tns:ExtendedStringType"
                                            minOccurs="0"
                                            maxOccurs="unbounded">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="fi">
                                            Jatko-opintomahdollisuudet.
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>

                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="Structure"
                                type="tns:StructureType"
                                minOccurs="0"
                                maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">
                                Koulutusmoduuliin sisaltyvat rakenteet ja sisaltyvyys saannot.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>

                </xs:sequence>

                <xs:attribute name="id"
                              type="xs:ID"
                              use="optional">
                    <xs:annotation>
                        <xs:documentation xml:lang="fi">
                            Rakenteen yksiloiva tunniste. Kaytetaan dokumentit sisaisiin viittauksiin.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attributeGroup ref="tns:LearningOpportunityModuleAttrGroup"/>

            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <!-- -"- lecturer joko kuvaus tai henkilo ref  -->

    <!-- ============================================================================================ -->
    <!-- LearningOpportunityInstance                                                                  -->
    <!-- ============================================================================================ -->
    <xs:complexType name="LearningOpportunityInstanceType">
        <xs:sequence>

            <xs:group ref="tns:IdentifierGroup"/>

            <xs:element name="SpecificationRef"
                        type="tns:LearningOpportunitySpecificationRefType"
                        minOccurs="1"
                        maxOccurs="1"/>

            <xs:element name="OrganizationRef"
                        type="tns:OrganizationRefType"
                        minOccurs="1"
                        maxOccurs="1"/>

            <xs:element name="Description"
                        type="tns:ExtendedStringType"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Koulutuksen yleinen kuvaus.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Objective"
                        type="tns:ExtendedStringType"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Opintotavoitteet.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="RecommendedReading"
                        type="tns:ExtendedStringType"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Suositeltu opintomateriaali.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

                        <!-- todo: lisää vapaa kuvaus tai muuta kokonaan tekstiksi -->
            <xs:element name="Prerequisite"
                        type="tns:CodeValueType"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Luokiteltu pohjakoulutusvaatimus.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ProfessionLabels"
                        type="tns:ProfessionCollectionType"
                        minOccurs="0"
                        maxOccurs="1"/>

            <xs:element name="Keywords"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Keyword"
                                    type="tns:CodeValueType"
                                    minOccurs="1"
                                    maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="LanguagesOfInstruction"
                        type="tns:CodeValueCollectionType"
                        minOccurs="0"
                        maxOccurs="1"/>

            <xs:element name="Contributor"
                        type="tns:ContributorType"
                        minOccurs="0"
                        maxOccurs="unbounded"/>

            <xs:element name="FormOfEducation"
                        type="tns:CodeValueCollectionType"
                        minOccurs="1"
                        maxOccurs="1"/>

            <xs:element name="FormsOfTeaching"
                        type="tns:CodeValueCollectionType"
                        minOccurs="0"
                        maxOccurs="1"/>

            <xs:element name="StartDate"
                        type="xs:date"
                        minOccurs="1"
                        maxOccurs="1"/>

            <xs:element name="AcademicYear"
                        type="tns:YearType"
                        minOccurs="1"
                        maxOccurs="1"/>

            <xs:element name="Duration"
                        type="tns:EducationDurationType"
                        minOccurs="1"
                        maxOccurs="1"/>

            <xs:element name="Assessments"
                        type="tns:AssessmentCollectionType"
                        minOccurs="0"
                        maxOccurs="1"/>

            <xs:element name="FinalExamination"
                        type="tns:FinalExaminationCollectionType"
                        minOccurs="0"
                        maxOccurs="1"/>

            <xs:element name="CostOfEducation"
                        type="tns:CostOfEducationType"
                        minOccurs="0"
                        maxOccurs="1"/>

            <xs:element name="Scholarship"
                        type="tns:ScholarshipType"
                        minOccurs="0"
                        maxOccurs="1"/>

            <xs:element name="WebLinks"
                        type="tns:WebLinkCollectionType"
                        minOccurs="0"
                        maxOccurs="1"/>

        </xs:sequence>

        <xs:attribute name="id"
                      type="xs:ID"
                      use="optional"/>

    </xs:complexType>

    <xs:complexType name="ScholarshipType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Tietoa stipendeista.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Description"
                        type="tns:ExtendedStringType"
                        minOccurs="1"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Vapaa kuvaus stipendimahdollisuuksista.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CostOfEducationType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Kuvaa koulutuksen kustannuksen.
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="NoCost">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Tyhja elementti jolla ilmoitetaan kouluksen olevan maksutonta.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Fee">
                <xs:complexType>
                    <xs:attribute name="amount" type="xs:decimal" use="required"/>
                    <xs:attribute name="currency" type="tns:CurrencyType" use="required"/>
                    <xs:attribute name="repeat" type="tns:EducationFeeRepeatType" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="FinalExaminationCollectionType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Joukko sanallisia kuvausksia koulutuksen loppukokeoista/opinnaytteista.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Description"
                        type="tns:ExtendedStringType"
                        minOccurs="1"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AssessmentCollectionType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Joukko arviointikriteereja.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Assessment"
                        type="tns:ExtendedStringType"
                        minOccurs="1"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Sanallinen kuvaus arviointikriteereista. Mahdollista kuvata eri kielilla.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EducationDurationType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Koulutuksen kesto. Kuvataan yksikolla ja varsinaisella arvolla.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Units"
                        type="tns:CodeValueType"/>
            <xs:element name="Value"
                        type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ProfessionCollectionType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Ammattinimikkeet joihin voi valmistua koulutuksesta tai jotka liittyvat koulutukseen
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Profession"
                        minOccurs="1"
                        maxOccurs="unbounded"
                        type="tns:CodeValueType">
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="WebLinkCollectionType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Joukko web linkkeja joille voidaan antaa kayttotarkoitus (type).
                Uri:lle voidaan myos antaa kielistetty nimi mahdollista kayttoliittymaa
                varten.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Link"
                        minOccurs="1"
                        maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element name="Label"
                                    type="tns:ExtendedStringType"
                                    minOccurs="0"
                                    maxOccurs="unbounded"/>

                        <xs:element name="Uri"
                                    type="xs:anyURI"
                                    minOccurs="1"
                                    maxOccurs="1"/>

                    </xs:sequence>

                    <xs:attribute name="type"
                                  type="xs:string"
                                  use="optional">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">
                                Linkin merkitys, tunnettuja vakioita ovat:
                                HOME, XXX
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>

                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LanguageCodeCollectionType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Joukko kieli koodeja.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Language" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name"
                                    type="tns:ExtendedStringType"
                                    minOccurs="0"
                                    maxOccurs="1"/>
                    </xs:sequence>
                    <xs:attribute name="code" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="scheme" type="tns:LanguageSchemeType" use="required"/>
    </xs:complexType>


    <xs:complexType name="KeywordType">
        <xs:simpleContent>
            <xs:extension base="xs:string"></xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="PrerequisiteType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Kuvaa pohjakoulutusvaatimukset. Voidaan maaritella eri kielilla.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="tns:ExtendedStringType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="CodeLabelType">
        <xs:sequence>
            <xs:element name="Value"
                        type="xs:string"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="Label"
                        type="tns:ExtendedStringType"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ExtendedCodeLabelType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Laajennettu koodi/arvo elementti jolle voidaan maaritella koodiston hallisija seka
                koodin versio.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="tns:CodeLabelType">
                <xs:attribute name="scheme" type="tns:LearningClassificationCodeSchemeType"/>
                <xs:attribute name="version" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- deprecated this in favor of -->
    <xs:complexType name="LearningClassificationCodeType">
        <xs:complexContent>
            <xs:extension base="tns:ExtendedCodeLabelType">
                <xs:attribute name="category" type="tns:LearningClassificationCategoryType"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CodeValueCollectionType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Joukko koodeja joilla kaikilla yhteinen koodaus -jarjestelma.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Code" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Label"
                                    minOccurs="0"
                                    maxOccurs="unbounded"
                                    type="tns:ExtendedStringType">
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="value" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="scheme"
                      type="tns:CodeSchemeType"
                      use="required"/>
    </xs:complexType>

    <xs:complexType name="CodeValueType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Koodien arvojen ja kielistettyjen nimien esittamiseen tarkoitettu rakenne.
                Jokainen koodi itsessaan maarittelee kaytettavan koodaus-jarjestelman.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Code" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Koodin arvo.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:attribute name="scheme" type="tns:CodeSchemeType" use="required">
                                <xs:annotation>
                                    <xs:documentation xml:lang="fi">
                                        Kaytetty koodisto. Esim. ISO-639
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="version" type="xs:string" use="optional">
                                <xs:annotation>
                                    <xs:documentation xml:lang="fi">
                                        Kaytetyn koodiston versio.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Label"
                        type="tns:ExtendedStringType"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Koodin kielistetty 'nimi'.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StructureType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Kuvaa sisaltyvan koulutusrakenteen.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SpecificationRef"
                        type="tns:LearningOpportunitySpecificationRefType"
                        minOccurs="1"
                        maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="selector" type="tns:StructureSelectorType"/>
        <xs:attribute name="min" type="xs:integer" use="optional"/>
        <xs:attribute name="max" type="xs:integer" use="optional"/>
    </xs:complexType>

    <xs:complexType name="LearningOpportunitySpecificationRefType">
        <xs:attribute name="ref"
                      type="xs:IDREF"
                      use="required"/>
    </xs:complexType>

    <xs:complexType name="LearningOpportunityInstanceRefType">
        <xs:attribute name="ref"
                      type="xs:IDREF"
                      use="required"/>
    </xs:complexType>

    <xs:complexType name="LearningOpportunityProviderRefType">
        <xs:attribute name="ref"
                      type="xs:IDREF"
                      use="required"/>
    </xs:complexType>

    <xs:complexType name="OrganizationRefType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                References an organization structure in the OPH Organization Service.
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="OidRef" type="tns:OidRefType">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Viittaus organisaatio rakenteeseen sen OID tunnisteella.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>


    <xs:complexType name="LearningOpportunityProviderType">
        <xs:sequence>

            <xs:element name="OrganizationRef"
                        type="tns:OrganizationRefType"
                        minOccurs="1"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Viittaus organisaatioon jolle tama koulutuksen jarjestajan kuvaus kuuluu.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="InstitutionInfo"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element name="Name"
                                    type="tns:ExtendedStringType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Organisaation nimi / koulutustoimijan nimi.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="Description"
                                    type="tns:TypedDescriptionType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GeneralInformation"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element name="Description"
                                    type="tns:TypedDescriptionType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>

        <xs:attribute name="id"
                      type="xs:ID"
                      use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="fi">
                    Koulutuksentarjoajan tunniste tassa dokumentissa.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>


    <xs:complexType name="TextType" mixed="true">
        <xs:attribute name="lang" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="ExtendedStringType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="lang" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="LocalizedTextType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Rakenne joka tarjoaa joukon tekstikuvauksia eri(?) kielilla.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Text"
                        type="tns:ExtendedStringType"
                        minOccurs="1"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CreditsType">
        <xs:complexContent>
            <xs:extension base="tns:CodeValueType">
                <xs:sequence>
                    <xs:element name="Value"
                                type="xs:string">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">
                                Data:n arvo.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="ContributorType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Elementti jolla kuvaataan henkiloa jossain tietyssa roolissa. Henkilo tuottaa
                jotain tiettya arvoa kohdistettuun kasitteeseen. Esim. kurssin opettaja.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>

                <xs:element name="Person"
                            type="tns:PersonType"
                            minOccurs="1"
                            maxOccurs="1">
                </xs:element>

                <xs:element name="PersonRef"
                            type="tns:OidRefType"
                            minOccurs="1"
                            maxOccurs="1">
                </xs:element>

            </xs:choice>
        </xs:sequence>
        <xs:attribute name="role">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Lecturer">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">
                                Opettaja roolissa toimiva henkilo.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>


    <xs:complexType name="PersonType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Henkilotietojen kuvausrakenne.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>

            <xs:element name="Name"
                        type="xs:string"
                        minOccurs="1"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Henkilon nimi yhtena tietona.
                    </xs:documentation>
                </xs:annotation>

            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <!-- ============================================================================================ -->
    <!-- ApplicationSystem                                                                            -->
    <!-- ============================================================================================ -->
    <xs:complexType name="ApplicationSystemType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Suomenkielinen termi: Haku.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>

            <xs:element name="Identifier"
                        type="xs:string"
                        minOccurs="1"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Haun tunniste. OPH hallinnoima OID.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Name"
                        type="tns:ExtendedStringType"
                        minOccurs="1"
                        maxOccurs="unbounded">
            </xs:element>

            <xs:element name="ApplicationType"
                        type="tns:CodeValueType"
                        minOccurs="1"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Koulutukseen hakeutumisen tyypin kuvaava tieto. Esimerkkeja: varsinainen-, taydennys-, lisahaku.
                        Viittaus koodistoon.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ApplicationMethod"
                        type="tns:CodeValueType"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Hakeutumistavan kuvaava tieto.. Esim. yhteishaku, suorahaku, lisahaku.
                        Viittaus koodistoon.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ApplicationSeason"
                        type="tns:CodeValueType"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Hakukausi. Esim. kevat, syksy. Viittaus koodisoton.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ApplicationYear"
                        type="tns:YearType"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Hakuvuosi. Esim. 2012.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="EducationStartSeason"
                        type="tns:CodeValueType"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Koulutuksen alkamiskausi. Esim. kevat, syksy. Viittaus koodistoon.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="EducationStartYear"
                        type="tns:YearType"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Koulutuksen alkamisvuosi. Esim. 2013.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="TargetGroup"
                        type="tns:CodeValueType"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Haun kohdejoukko. Esim. yliopistot, ammattikorkeat, peruskoulut.
                        Koodisto viittaus.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

        </xs:sequence>

        <xs:attribute name="id" type="xs:ID" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="fi">
                    Haun yksiloiva tunniste taman dokumentin laajuudessa.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

    </xs:complexType>


    <xs:complexType name="TypedDescriptionType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Tyypitettya,ja mahdollisesti kielistettya, kuvaustekstia.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Text"
                        type="tns:ExtendedStringType"
                        minOccurs="1"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Kuvauksen kielistetty/kielistamaton tekstisisalto.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="type"
                      type="xs:token">
            <xs:annotation>
                <xs:documentation xml:lang="fi">
                    Kuvaustekstin tyyppi. Arvona kaytetaan tunnettuja vakioita.
                    Tassa skemassa on listattu joukko tunnetuja arvoja (kts: xxx) mutta
                    skema sallii myos muiden arvojen kayton.
                </xs:documentation>
            </xs:annotation>

        </xs:attribute>
    </xs:complexType>


    <!-- ============================================================================================ -->
    <!-- Groups                                                                                       -->
    <!-- ============================================================================================ -->

    <xs:group name="PostalAddressGroup">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Rakenne postiosoitteelle.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RecipientName"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Vastaaottajan nimi (henkilo)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Company"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Vastaaottajan nimi (yritys, organisaatio tms.)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AddressLine"
                        type="xs:string"
                        minOccurs="1"
                        maxOccurs="5">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Katuosoite rivit
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostalCode"
                        type="tns:PostalCodeType"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Postinumero
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="City"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Kaupunki
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>

    <xs:group name="IdentifierGroup">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Identifier" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Tunniste jonka taytyy olla yksiloiva (uniikki) tiedon omistajan nakokulmasta.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>


    <xs:attributeGroup name="LearningOpportunityModuleAttrGroup">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Yleisia LearningOpportunity:lle seka LearningOpportunitySpecification:lle yhteisia attribuutteja.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="type" type="tns:LearningOpportunityTypeType" use="required"/>
    </xs:attributeGroup>


    <!-- ============================================================================================ -->
    <!-- Simple types                                                                                 -->
    <!-- ============================================================================================ -->

    <xs:simpleType name="EducationFeeRepeatType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Koulutuksen kustannuksen toistuminen.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="once">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Veloitus tapahtuu vain kun koulutus alkaa.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="StructureSelectorType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="oneOf">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Osista valitaan yksi.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="allOf">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Kaikki osat kuuluvat mukaan koosteeseen.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="numberOf">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Osista valitaan maaritelty lukumaara (min, max) koosteeseen.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="someOf">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Rakenneyksikko koostetaan epamaaraisella saannolla. Saanto kuvataan
                        annotation-elementissa.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ects">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Koosteeseen otetaan mukaan tietty maara opintopisteita (min. max) osista yhteenlaskettuna.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="cu">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Koosteeseen otetaan mukaan tietty maara opintoviikkoja (min. max) osista yhteenlaskettuna.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="LearningOpportunityTypeType">
        <xs:restriction base="xs:normalizedString">

            <xs:enumeration value="DegreeProgramme">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Tutkintoon johtava ohjelma
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>

            <xs:enumeration value="CourseUnit">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Opintojakso/opinto.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>

            <xs:enumeration value="SpecializationOption">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Suuntautumisvaihtoehto / erikoistumisaine.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>

            <xs:enumeration value="StudyModule">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Opintokokonaisuus.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>

        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="LearningClassificationCategoryType">
        <xs:restriction base="xs:normalizedString">
            <xs:enumeration value="EducationDomain">
                <xs:annotation>
                    <xs:documentation>
                        Koulutusala
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EducationDegree">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Koulutusaste
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="StydyDomain">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Opintoaste
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="LanguageSchemeType">
        <xs:restriction base="xs:normalizedString">
            <xs:enumeration value="ISO-639-1">
                <xs:annotation>
                    <xs:documentation>
                        ISO 639-1 kieli koodisto.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>


    <!-- to be deprecated and replace by CodeSchemeType -->
    <xs:simpleType name="LearningClassificationCodeSchemeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="http://oph.fi">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        OPH:n hallitsema koodisto
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="http://stat.fi">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Tilastokeskuksen hallitsema koodisto.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ISCED">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        UNESCO:n hallinnoima koodisto. Perustettu 1970-luvulla.
                        Kts. http://www.uis.unesco.org/Library/Documents/isced97-en.pdf
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NQF">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EQF">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CodeSchemeType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Kaytettyja koodistoja/koodiston haltijoita.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPH">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Opetushallitus. http://www.oph.fi.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Tilastokeskus">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Tilastokeskuksen hallitsema koodisto. http://www.stat.fi
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Koodisto">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        OPH:n keskitetty koodisto pavelu. Koodin arvo on talloin Koodisto Uri.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ISCED">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        UNESCO:n hallinnoima koodisto. Perustettu 1970-luvulla.
                        Kts. http://www.uis.unesco.org/Library/Documents/isced97-en.pdf
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NQF">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Kts: http://en.wikipedia.org/wiki/National_Qualifications_Framework
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EQF">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Kts. http://en.wikipedia.org/wiki/European_Qualifications_Framework.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ISO-639-1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        2-merkkinen ISO koodisto kielien esittamiseen.
                        Kts. http://en.wikipedia.org/wiki/ISO_639-1
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ECTS">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Opintopisteet. Kts. http://en.wikipedia.org/wiki/European_Credit_Transfer_and_Accumulation_System
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FormOfTeachingType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Classroom">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Lahiopetus
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="YearType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OidRefType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Tietotyyppi OID -tyyppisille arvoille.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CurrencyType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                ISO 4217 valuutta koodi
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ShortName">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PostalCodeType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Postinumero
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DescriptionType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Tunnettuja vakioita tyypitetyille kuvausteksteille.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="General">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Yleiskuvaus
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AcademicCalendar">
                <xs:annotation>
                    <xs:documentation>
                        lukukausien ja periodien seka opetustarjonnan ajankohdat kertova koulutustoimijan kalenteri
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AcademicAuthorities">
                <xs:annotation>
                    <xs:documentation>
                        Opetuksen vastuuhenkilot.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AdmissionProcedures">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Tietoa opeskelijavalintojen toteutuksesta.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MainUniversityRequlations">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Opetusten tunnustamissaannot organisaatiossa.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EctsCoordinator">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        ECTS koordinaattori.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CostOfLiving">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Tietoa elamisen kustannuksista.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Meals">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Tietoa opiskelijaruokalusta.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MedicalFacilities">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Tietoa terveydenhuoltopalveluista.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FacilitiesForStudentsWithSpecialNeeds">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Esteettomyys ja vammaisten tukipalvelut.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Insurance">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Tietoa vakuutuksista.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FinancialSupport">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Tietoa opintojen rahoituksesta.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="StudentAffairsOffice">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Tietoa opintotoimistosta ja opiskelijapalveluista.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="StudyFacilities">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Tietoa oppimisymparistosta.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="InternationalProgrammes">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Tietoa kansainvalisista koulutusohjelmista, vieraskielisista koulutusohjelmista.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MobileStudents">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Tietoa opiskelijaliikkuvuudesta.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LanguageCourses">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Tietoa kieliopinnoista.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Internships">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Tietoa opintoihin liittyvista tyoharjoitteluista.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SportsFacilities">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Tietoa opiskelijaliikunnasta.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ExtraMuralAndLeisureFacilities">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Tietoa vapaa-ajan palveluista.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="StudentAssociations">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Tietoa opiskelijajarjestoista.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
