tarjonta-api/src/main/resources/wsdl/hakueraService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="hakueraService"
                  targetNamespace="http://service.tarjonta.sade.vm.fi/"
                  xmlns:ns1="http://service.tarjonta.sade.vm.fi/types"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.tarjonta.sade.vm.fi/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema targetNamespace="http://service.tarjonta.sade.vm.fi/">
            <xsd:import namespace="http://service.tarjonta.sade.vm.fi/types" schemaLocation="hakueraService.xsd" />
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="findAll">
        <wsdl:part element="ns1:findAll" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAllResponse">
        <wsdl:part element="ns1:findAllResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createHakuera">
        <wsdl:part element="ns1:createHakuera" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createHakueraResponse">
        <wsdl:part element="ns1:createHakueraResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateHakuera">
        <wsdl:part element="ns1:updateHakuera" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateHakueraResponse">
        <wsdl:part element="ns1:updateHakueraResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="HakueraService">
        <wsdl:documentation>
            Service interface for managing Hakuera -objects
        </wsdl:documentation>
        <wsdl:operation name="findAll">
            <wsdl:documentation>
                Finds from all Hakuera -objects based on search criteria
            </wsdl:documentation>
            <wsdl:input message="tns:findAll" name="findAll">
            </wsdl:input>
            <wsdl:output message="tns:findAllResponse" name="findAllResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createHakuera">
            <wsdl:documentation>
                Creates a hakuera
            </wsdl:documentation>
            <wsdl:input message="tns:createHakuera" name="createHakuera">
            </wsdl:input>
            <wsdl:output message="tns:createHakueraResponse" name="createHakueraResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateHakuera">
            <wsdl:documentation>
                Updates a hakuera
            </wsdl:documentation>
            <wsdl:input message="tns:updateHakuera" name="updateHakuera">
            </wsdl:input>
            <wsdl:output message="tns:updateHakueraResponse" name="updateHakueraResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="HakueraServiceSoapBinding" type="tns:HakueraService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="findAll">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="findAll">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="findAllResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createHakuera">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="createHakuera">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="createHakueraResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateHakuera">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="updateHakuera">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="updateHakueraResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="HakueraService">
        <wsdl:port name="HakueraServicePort" binding="tns:HakueraServiceSoapBinding">
            <soap:address location="http://localhost:8181/cxf/hakueraService" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>