tarjonta-api/src/main/resources/wsdl/learningUploadService.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema elementFormDefault="qualified"
           targetNamespace="http://service.tarjonta.sade.vm.fi/types" version="1.0"
           xmlns:xml="http://www.w3.org/XML/1998/namespace"
           xmlns:tns="http://service.tarjonta.sade.vm.fi/types"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:import namespace="http://www.w3.org/XML/1998/namespace"
               schemaLocation="http://www.w3.org/2001/03/xml.xsd">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                XML-nimiavaruus xml:lang -attribuutin vuoksi.
            </xs:documentation>
        </xs:annotation>
    </xs:import>


    <xs:element name="LearningUploadRequest" type="tns:LearningUploadRequestType" />
    <xs:element name="LearningUploadResponse" type="tns:LearningUploadResponseType" />
    <xs:element name="LearningOpportunityData" type="tns:LearningOpportunityDataType" />

    <xs:complexType name="LearningUploadResponseType">
    </xs:complexType>

    <xs:complexType name="LearningUploadRequestType">
        <xs:sequence>
            <xs:element name="LearningOpportunityData"
                        type="tns:LearningOpportunityDataType"
                        minOccurs="0"
                        maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="LearningOpportunityDataType">
        <xs:sequence>
            <xs:element name="LearningOpportunitySpecification"
                        type="tns:LearningOpportunitySpecificationType"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element name="LearningOpportunityProvider"
                        type="tns:LearningOpportunityProviderType"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element name="ApplicationObjectGroup"
                        type="tns:ApplicationObjectGroupType"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ApplicationObjectGroupType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Suomenkielinen termi: hakukohde
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="LearningOpportunities" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="InstanceRef"
                                    type="tns:LearningOpportunityInstanceRefType"
                                    minOccurs="1"
                                    maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LearningOpportunityObjectType" abstract="true">
        <xs:sequence>
            <xs:element name="Name"
                        type="tns:ExtendedStringType"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Nimi, voidaan tallentaan useilla kielilla.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="LearningOpportunitySpecificationType">
        <xs:complexContent>
            <!-- todo: siirra nimi group:iin -->
            <xs:extension base="tns:LearningOpportunityObjectType">
                <xs:sequence>
                    <xs:group ref="tns:IdentifierGroup"/>
                    <xs:element name="OfferedBy"
                                type="tns:LearningOpportunityProviderRefType"
                                minOccurs="0"
                                maxOccurs="1"/>
                    <!-- Classification:n alle? -->
                    <xs:element name="Credits"
                                type="tns:CreditsType"
                                minOccurs="0"
                                maxOccurs="1"/>
                    <!-- Classification:n alle? -->
                    <xs:element name="QualificationTitle"
                                type="tns:ExtendedStringType"
                                minOccurs="0"
                                maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">
                                Suomenkielinen termi: tutkintonimike
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DegreeTitle"
                                type="tns:ExtendedStringType"
                                minOccurs="0"
                                maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">
                                Koulutukseen liittyvan tutkinnon nimi. Esim. 'sosiaali- ja terveysalan perustutkinto'.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Classification" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">
                                Koulutuksen luokittelutiedot. Jos kaikki luokittelutiedot voidaan kuvata yhdella koodilla josta
                                erilliset tiedot voidaan johtaa, voidaan kayttaa UnifiedCode elementtia - muuten luokittelu kuvataan
                                ClassificationItem elementeilla.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <!-- maybe deprecated unified code as can be represented with one ClassificationItem

                                <xs:choice>
                                    <xs:element name="UnifiedCode"
                                                type="tns:UnifiedCodeType"/>
                                -->
                                <xs:element name="ClassificationItem"
                                            type="tns:LearningClassificationItemType"
                                            minOccurs="1"
                                            maxOccurs="unbounded"/>
                                <!--
                                </xs:choice>
                                -->
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="Description" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation xml:lang="fi">
                                Koulutusta kuvailevat tiedot.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="GeneralDescription"
                                            type="tns:ExtendedStringType"
                                            minOccurs="0"
                                            maxOccurs="unbounded">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="fi">
                                            Koulutuksen kuvaus yleisella tasolla.
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="StructureDiagram"
                                            type="xs:string"
                                            minOccurs="0"
                                            maxOccurs="1">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="fi">
                                            Koulutuksen rakenne tekstikuvauksena. Tarpeellinen?
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="EducationAndProfessionalGoals"
                                            type="xs:string"
                                            minOccurs="0"
                                            maxOccurs="1">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="fi">
                                            Koulutukselliset ja ammatilliset tavoitteet.
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="AccessToFurtherStudies"
                                            type="xs:string"
                                            minOccurs="0"
                                            maxOccurs="1">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="fi">
                                            Jatko-opintomahdollisuudet.
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Structure"
                                type="tns:StructureType"
                                minOccurs="0"
                                maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute name="id"
                              type="xs:ID"
                              use="optional"/>
                <xs:attributeGroup ref="tns:LearningOpportunityModuleAttrGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CodeLabelType">
        <xs:sequence>
            <xs:element name="Code"
                        type="xs:string"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="Label"
                        type="tns:ExtendedStringType"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="version" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="UnifiedCodeType">
        <xs:complexContent>
            <xs:extension base="tns:CodeLabelType">
                <xs:attribute name="scheme" type="tns:LearningClassificationCodeSchemeType"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="LearningClassificationItemType">
        <xs:complexContent>
            <xs:extension base="tns:CodeLabelType">
                <xs:attribute name="type" type="tns:LearningClassificationCodeType"/>
                <xs:attribute name="scheme" type="tns:LearningClassificationCodeSchemeType"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="StructureType">
        <xs:sequence>
            <xs:element name="SpecificationRef"
                        type="tns:LearningOpportunitySpecificationRefType"
                        minOccurs="1"
                        maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="selector" type="tns:StructureSelectorType"/>
    </xs:complexType>

    <xs:complexType name="LearningOpportunitySpecificationRefType">
        <xs:attribute name="ref"
                      type="xs:IDREF"
                      use="required"/>
    </xs:complexType>

    <xs:complexType name="LearningOpportunityInstanceRefType">
        <xs:attribute name="ref"
                      type="xs:IDREF"
                      use="required"/>
    </xs:complexType>

    <xs:complexType name="LearningOpportunityProviderRefType">
        <xs:attribute name="ref"
                      type="xs:IDREF"
                      use="required"/>
    </xs:complexType>

    <xs:complexType name="LearningOpportunityProviderType">
        <xs:sequence>
            <xs:element name="Institution">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name"
                                    type="tns:ExtendedStringType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Organisaation nimi / koulutustoimijan nimi.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="AcademicCalendar"
                                    type="tns:TextType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    lukukausien ja periodien sekä opetustarjonnan ajankohdat kertova koulutustoimijan kalenteri
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="AcademicAuthorities"
                                    type="tns:TextType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Opetuksen vastuuhenkilöt.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="AdmissionProcedures"
                                    type="tns:TextType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Tietoa opeskelijavalintojen toteutuksesta.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="GeneralDescription"
                                    type="tns:TextType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Organisaation yleiskuvaus.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="EctsCoordinator"
                                    type="tns:TextType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Organisaation ECTS-koordinaattori.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="MainUniversityRequlations"
                                    type="tns:TextType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Opetusten tunnustamissäännöt organisaatiossa.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GeneralInformation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CostOfLiving"
                                    type="tns:TextType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Tietoa elämisen kustannuksista.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Meals"
                                    type="tns:TextType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Tietoa opiskelijaruokalusta.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="MedicalFacilities"
                                    type="tns:TextType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Tietoa terveydenhuoltopalveluista.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="FacilitiesForStudentsWithSpecialNeeds"
                                    type="tns:TextType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Esteettömyys ja vammaisten tukipalvelut.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Insurance"
                                    type="tns:TextType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Tietoa vakuutuksista.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="FinancialSupport"
                                    type="tns:TextType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Tietoa opintojen rahoituksesta.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="StudentAffairsOffice"
                                    type="tns:TextType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Tietoa opintotoimistosta ja opiskelijapalveluista.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="StudyFacilities"
                                    type="tns:TextType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Tietoa oppimisympäristöstä.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="InternationalProgrammes"
                                    type="tns:TextType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Tietoa kansainvälisistä koulutusohjelmista, vieraskielisistä koulutusohjelmista.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="MobileStudents"
                                    type="tns:TextType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Tietoa opiskelijaliikkuvuudesta.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="LanguageCourses"
                                    type="tns:TextType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Tietoa kieliopinnoista.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Internships"
                                    type="tns:TextType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Tietoa opintoihin liittyvistä työharjoitteluista.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="SportsFacilities"
                                    type="tns:TextType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Tietoa opiskelijaliikunnasta.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ExtraMuralAndLeisureFacilities"
                                    type="tns:TextType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Tietoa vapaa-ajan palveluista.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="StudentAssociations"
                                    type="tns:TextType"
                                    minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fi">
                                    Tietoa opiskelijajärjestöistä.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>

        <xs:attribute name="id"
                      type="xs:ID"
                      use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="fi">doc for id</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>


    <xs:complexType name="TextType" mixed="true">
        <xs:attribute ref="xml:lang"/>
    </xs:complexType>

    <xs:complexType name="ExtendedStringType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute ref="xml:lang" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- -->
    <xs:complexType name="CreditsType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="unit" use="required">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="CreditUnits">
                                <xs:annotation>
                                    <xs:documentation xml:lang="fi">
                                        Opintoviikot
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="ECTS">
                                <xs:annotation>
                                    <xs:documentation xml:lang="fi">
                                        Opintopisteet. Kts. http://ec.europa.eu/education/lifelong-learning-policy/ects_en.htm
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>



    <xs:simpleType name="StructureSelectorType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="oneOf">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Osista valitaan yksi.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="allOf">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Kaikki osat kuuluvat mukaan koosteeseen.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="numberOf">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Osista valitaan maaritelty lukumaara (min, max) koosteeseen.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="someOf">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Rakenneyksikko koostetaan epamaaraisella saannolla. Saanto kuvataan
                        annotation-elementissa.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ects">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Koosteeseen otetaan mukaan tietty maara opintopisteita (min. max) osista yhteenlaskettuna.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="cu">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Koosteeseen otetaan mukaan tietty maara opintoviikkoja (min. max) osista yhteenlaskettuna.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="LearningOpportunityType">
        <xs:restriction base="xs:normalizedString">
            <xs:enumeration value="DegreeProgramme">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Tutkintoon johtava ohjelma
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CourseUnit">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Opintojakso/opinto.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="LearningClassificationCodeType">
        <xs:restriction base="xs:normalizedString">
            <xs:enumeration value="EducationDomain">
                <xs:annotation>
                    <xs:documentation>
                        Koulutusala
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EducationDegree">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Koulutusaste
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="StydyDomain">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Opintoaste
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="LearningClassificationCodeSchemeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="http://oph.fi">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        OPH:n hallitsema koodisto
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="http://stat.fi">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Tilastokeskuksen hallitsema koodisto.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ISCED">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        UNESCO:n hallinnoima koodisto. Perustettu 1970-luvulla.
                        Kts. http://www.uis.unesco.org/Library/Documents/isced97-en.pdf
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NQF">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EQF">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:group name="IdentifierGroup">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Identifier" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Tunniste jonka taytyy olla yksiloiva (uniikki) tiedon omistajan nakokulmasta.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>


    <xs:attributeGroup name="LearningOpportunityModuleAttrGroup">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Yleisia LearningOpportunity:lle sekä LearningOpportunitySpecification:lle yhteisia attribuutteja.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="type" type="tns:LearningOpportunityType" use="required"/>
    </xs:attributeGroup>




</xs:schema>
