tarjonta-api/src/main/resources/wsdl/tarjontaService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="tarjontaService" 
                  targetNamespace="http://service.tarjonta.sade.vm.fi/"
                  xmlns:ns1="http://service.tarjonta.sade.vm.fi/types"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:tns="http://service.tarjonta.sade.vm.fi/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  
    <wsdl:types>
        <xsd:schema targetNamespace="http://service.tarjonta.sade.vm.fi/">
            <xsd:import namespace="http://service.tarjonta.sade.vm.fi/types" schemaLocation="tarjontaService.xsd" />
        </xsd:schema>
    </wsdl:types>

	<wsdl:message name="listHaku">
		<wsdl:part element="ns1:listaaHaku" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="listHakuResponse">
		<wsdl:part element="ns1:listaaHakuVastaus" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="haeTarjonta">
		<wsdl:part element="ns1:haeTarjonta" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="haeTarjontaResponse">
		<wsdl:part element="ns1:haeTarjontaVastaus" name="parameters"/>
	</wsdl:message>
        
        
        <wsdl:message name="lisaaHaku">
		<wsdl:part element="ns1:lisaaHaku" name="parameters"/>
	</wsdl:message>
        <wsdl:message name="lisaaHakuVastaus">
		<wsdl:part element="ns1:lisaaHakuVastaus" name="parameters"/>
	</wsdl:message>
        <wsdl:message name="paivitaHaku">
		<wsdl:part element="ns1:paivitaHaku" name="parameters"/>
	</wsdl:message>
        <wsdl:message name="paivitaHakuVastaus">
		<wsdl:part element="ns1:paivitaHakuVastaus" name="parameters"/>
	</wsdl:message>
        <wsdl:message name="poistaHaku">
		<wsdl:part element="ns1:poistaHaku" name="parameters"/>
	</wsdl:message>
        <wsdl:message name="poistaHakuVastaus">
		<wsdl:part element="ns1:poistaHakuVastaus" name="parameters"/>
	</wsdl:message>
        
        
    <wsdl:portType name="TarjontaService">
        <wsdl:documentation>
            Palvelu tarjontatiedon hakemiseen
        </wsdl:documentation>
        <wsdl:operation name="listHaku">
            <wsdl:documentation>
                Listaa hakukriteriaa vastaavat haut
            </wsdl:documentation>
            <wsdl:input message="tns:listHaku" name="listHaku">
            </wsdl:input>
            <wsdl:output message="tns:listHakuResponse" name="listHakuResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="haeTarjonta">
            <wsdl:documentation>
               Hae haun tarjonta
            </wsdl:documentation>
            <wsdl:input message="tns:haeTarjonta" name="haeTarjonta">
            </wsdl:input>
            <wsdl:output message="tns:haeTarjontaResponse" name="haeTarjontaResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="lisaaHaku">
            <wsdl:documentation>
               Lisaa haku
            </wsdl:documentation>
            <wsdl:input message="tns:lisaaHaku" name="lisaaHaku">
            </wsdl:input>
            <wsdl:output message="tns:lisaaHakuVastaus" name="lisaaHakuVastaus">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="paivitaHaku">
            <wsdl:documentation>
               Paivita haku
            </wsdl:documentation>
            <wsdl:input message="tns:paivitaHaku" name="paivitaHaku">
            </wsdl:input>
            <wsdl:output message="tns:paivitaHakuVastaus" name="paivitaHakuVastaus">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="poistaHaku">
            <wsdl:documentation>
               Poista haku
            </wsdl:documentation>
            <wsdl:input message="tns:poistaHaku" name="poistaHaku">
            </wsdl:input>
            <wsdl:output message="tns:poistaHakuVastaus" name="poistaHakuVastaus">
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:portType>

	<wsdl:binding name="TarjontaServiceSoapBinding" type="tns:TarjontaService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="listHaku">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="listHaku">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="listHakuResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="haeTarjonta">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="haeTarjonta">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="haeTarjontaResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

    <wsdl:service name="TarjontaService">
        <wsdl:port name="TarjontaServicePort" binding="tns:TarjontaServiceSoapBinding">
            <soap:address location="http://localhost:8181/cxf/tarjontaService" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>