tarjonta-api/src/main/resources/wsdl/tarjontaPublicService.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema elementFormDefault="unqualified"
           targetNamespace="http://service.tarjonta.sade.vm.fi/types" version="1.0"
           xmlns:tns="http://service.tarjonta.sade.vm.fi/types"
           xmlns:tarjonta="http://service.tarjonta.sade.vm.fi/types"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="tarjonta.xsd"/>

    <xs:element name="listaaHaku" type="tns:ListaaHakuTyyppi" />
    <xs:element name="listaaHakuVastaus" type="tns:ListHakuVastausTyyppi" />
    <xs:element name="haeTarjonta" type="tns:HaeTarjontaTyyppi" />
    <xs:element name="haeTarjontaVastaus" type="tns:HaeTarjontaVastausTyyppi" />

    <xs:element name="haeKoulutusmoduulitKysely" type="tns:HaeKoulutusmoduulitKyselyTyyppi" />
    <xs:element name="haeKoulutusmoduulitVastaus" type="tns:HaeKoulutusmoduulitVastausTyyppi" />
    
    <xs:element name="haeKaikkiKoulutusmoduulitKysely" type="tns:HaeKaikkiKoulutusmoduulitKyselyTyyppi" />
    <xs:element name="haeKaikkiKoulutusmoduulitVastaus" type="tns:HaeKaikkiKoulutusmoduulitVastausTyyppi" />

    <xs:element name="lueKoulutusKysely" type="tns:LueKoulutusKyselyTyyppi" />
    <xs:element name="lueKoulutusVastaus" type="tns:LueKoulutusVastausTyyppi" />

    <xs:element name="lueHakukohdeKysely" type="tns:LueHakukohdeKyselyTyyppi" />
    <xs:element name="lueHakukohdeVastaus" type="tns:LueHakukohdeVastausTyyppi" />
    
    <xs:element name="LueHakukohdeKoulutuksineenKysely" type="tns:LueHakukohdeKoulutuksineenKyselyTyyppi"/>
    <xs:element name="LueHakukohdeKoulutuksineenVastaus" type="tns:LueHakukohdeKoulutuksineenVastausTyyppi"/>

    <xs:element name="haeHakukohteenLiitteetKysely" type="tns:HaeHakukohteenLiitteetKyselyTyyppi"/>
    <xs:element name="haeHakukohteenLiitteetVastausTyyppi" type="tns:HaeHakukohteenLiitteetVastausTyyppi"/>
    
    <xs:element name="lueHakukohteenLiiteTunnisteellaKyselyTyyppi" type="tns:LueHakukohteenLiiteTunnisteellaKyselyTyyppi" />
    <xs:element name="lueHakukohteenLiiteTunnisteellaVastausTyyppi" type="tns:LueHakukohteenLiiteTunnisteellaVastausTyyppi"/>
    
    <xs:element name="lueHakukohteenValintakoeTunnisteellaKyselyTyyppi" type="tns:LueHakukohteenValintakoeTunnisteellaKyselyTyyppi"/>
    <xs:element name="lueHakukohteenValintakoeTunnisteellaVastausTyyppi" type="tns:LueHakukohteenValintakoeTunnisteellaVastausTyyppi"/>
    
    <xs:element name="haeHakukohteenValintakokeetHakukohteenTunnisteellaKyselyTyyppi" type="tns:HaeHakukohteenValintakokeetHakukohteenTunnisteellaKyselyTyyppi"/>
    <xs:element name="haeHakukohteenValintakokeetHakukohteenTunnisteellaVastausTyyppi" type="tns:HaeHakukohteenValintakokeetHakukohteenTunnisteellaVastausTyyppi"/>
    
    <xs:element name="haeTarjoajanKoulutustenPohjakoulutuksetKysely" type="tns:HaeTarjoajanKoulutustenPohjakoulutuksetKysely"/>
    <xs:element name="haeTarjoajanKoulutustenPohjakoulutuksetVastaus" type="tns:HaeTarjoajanKoulutustenPohjakoulutuksetVastaus"/>
    
    <xs:element name="lueKoulutusmoduuliKysely" type="tns:LueKoulutusmoduuliKyselyTyyppi" />
    <xs:element name="lueKoulutusmoduuliVastaus" type="tns:LueKoulutusmoduuliVastausTyyppi" />
    
    <xs:element name="haeKoulutustyyppiUrisKysely" type="tns:haeKoulutustyyppiUrisKyselyTyyppi" />
    <xs:element name="haeKoulutustyyppiUrisVastaus" type="tns:haeKoulutustyyppiUrisVastausTyyppi" />

    <xs:complexType name="HaeHakukohteenLiitteetKyselyTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="hakukohdeOid" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HaeHakukohteenLiitteetVastausTyyppi">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="hakukohteenLiitteet" type="tarjonta:HakukohdeLiiteTyyppi" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ListaaHakuTyyppi">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="vainSijoittelu" type="xs:boolean" />
            <xs:element minOccurs="0" maxOccurs="1" name="alkaen" type="xs:date" />
            <xs:element minOccurs="0" maxOccurs="1" name="loppuen" type="xs:date" />
            <xs:element minOccurs="0" maxOccurs="1" name="hakuOid" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="hakuSana" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="tila" type="tns:TarjontaTila"/>
            <xs:element minOccurs="0" maxOccurs="1" name="hakuSanaKielikoodi" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="koulutuksenAlkamisKausi" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="koulutuksenAlkamisVuosi" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ListHakuVastausTyyppi">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="response" type="tarjonta:HakuTyyppi" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HaeTarjontaTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="oid" type="xs:string" >
                <xs:annotation>
                    <xs:documentation>Yksilollinen tunniste haulle.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HaeTarjontaVastausTyyppi">
        <xs:sequence>
            <xs:element name="tarjonta" type="tarjonta:TarjontaTyyppi" maxOccurs="1" minOccurs="0">

            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="HaeKoulutusmoduulitKyselyTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Haku objekti jolla valitetaan haku kriteerit.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="koulutuskoodiUri" minOccurs="0" maxOccurs="1" type="xs:string"/>
            <xs:element name="koulutusohjelmakoodiUri" minOccurs="0" maxOccurs="1" type="xs:string"/>
            <xs:element name="lukiolinjakoodiUri" minOccurs="0" maxOccurs="1" type="xs:string"/>
            <xs:element name="koulutustyyppi" minOccurs="0" maxOccurs="1" type="tarjonta:KoulutusasteTyyppi"/>
            <xs:element name="tarjoajaOids" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
            <xs:element name="hakusana" minOccurs="0" maxOccurs="1" type="tns:HakusanaTyyppi"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="HaeKoulutusmoduulitVastausTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="KoulutusmoduuliTulos" type="tns:KoulutusmoduuliTulos" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="HaeKaikkiKoulutusmoduulitKyselyTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Haku objekti jolla valitetaan haku kriteerit.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="koulutuskoodiUri" minOccurs="0" maxOccurs="1" type="xs:string"/>
            <xs:element name="koulutusohjelmakoodiUri" minOccurs="0" maxOccurs="1" type="xs:string"/>
            <xs:element name="lukiolinjakoodiUri" minOccurs="0" maxOccurs="1" type="xs:string"/>
            <xs:element name="koulutustyyppi" minOccurs="0" maxOccurs="1" type="tarjonta:KoulutusasteTyyppi"/>
            <xs:element name="oppilaitostyyppiUris" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="HaeKaikkiKoulutusmoduulitVastausTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="KoulutusmoduuliTulos" type="tns:KoulutusmoduuliTulos" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="KoulutusmoduuliTulos">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="koulutusmoduuli" type="tarjonta:KoulutusmoduuliKoosteTyyppi" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LueKoulutusKyselyTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="oid" type="xs:string" >
                <xs:annotation>
                    <xs:documentation>Yksilollinen tunniste koulutukselle.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LueKoulutusVastausTyyppi">
        <xs:sequence>
            <xs:group ref="tarjonta:KoulutusGroup"/>
            <xs:element name="Hakukohteet" type="tarjonta:HakukohdeKoosteTyyppi" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LueHakukohdeKyselyTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="oid" type="xs:string" >
                <xs:annotation>
                    <xs:documentation>Yksilollinen tunniste koulutukselle.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="LueHakukohdeVastausTyyppi">
        <xs:sequence>
            <xs:element name="hakukohde" type="tarjonta:HakukohdeTyyppi"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LueHakukohdeKoulutuksineenKyselyTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="hakukohdeOid" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Hakukohteen yksilöllinen oid</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LueHakukohdeKoulutuksineenVastausTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="hakukohde" type="tarjonta:HakukohdeTyyppi">
                <xs:annotation>
                    <xs:documentation>Hakukohde joka sisältää mahdolliset siihen liitetyt koulutukset</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="LueHakukohteenLiiteTunnisteellaKyselyTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="hakukohteenLiiteTunniste" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Hakukohteen liitteen yksilöivä tunniste</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LueHakukohteenLiiteTunnisteellaVastausTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="hakukohteenLiite" type="tarjonta:HakukohdeLiiteTyyppi">
                <xs:annotation>
                    <xs:documentation>Hakukohteen liite</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LueHakukohteenValintakoeTunnisteellaKyselyTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="hakukohteenValintakoeTunniste" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Hakukohteen valintakokeen yksilöivä tunniste</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LueHakukohteenValintakoeTunnisteellaVastausTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="hakukohdeValintakoe" type="tarjonta:ValintakoeTyyppi"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HaeHakukohteenValintakokeetHakukohteenTunnisteellaKyselyTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="hakukohteenTunniste" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Hakukohteen yksilöivä tunniste (oid)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="HaeHakukohteenValintakokeetHakukohteenTunnisteellaVastausTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="hakukohteenValintaKokeet" type="tarjonta:ValintakoeTyyppi"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HaeTarjoajanKoulutustenPohjakoulutuksetKysely">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="koulutusluokitusKoodi" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="koulutusOhjelmaKoodi" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="pohjakoulutus" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="kausi" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="vuosi" type="xs:int"/>
            <xs:element maxOccurs="1" minOccurs="1" name="tarjoaja" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="opetuskielis" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="koulutuslajis" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HaeTarjoajanKoulutustenPohjakoulutuksetVastaus">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="pohjakoulutusKoodi" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="LueKoulutusmoduuliVastausTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="koulutusmoduuli" type="tarjonta:KoulutusmoduuliKoosteTyyppi" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="haeKoulutustyyppiUrisKyselyTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="organisaatioOid"
                        type="xs:string"
                        maxOccurs="1"
                        minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="haeKoulutustyyppiUrisVastausTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="organisaatioOid"
                        type="xs:string"
                        maxOccurs="1"
                        minOccurs="1"/>
            
            <xs:element name="hasKoulutusmodules"
                        type="xs:boolean"
                        maxOccurs="1"
                        minOccurs="0"/>
 
            <xs:element name="koulutustyyppiUris"
                        type="xs:string"
                        maxOccurs="unbounded"
                        minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="LueKoulutusmoduuliKyselyTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="oid" type="xs:string" >
                <xs:annotation>
                    <xs:documentation>Yksilollinen tunniste koulutusmoduulille.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>