tarjonta-api/src/main/resources/wsdl/tarjonta.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema version="1.0"
           elementFormDefault="unqualified"
           targetNamespace="http://service.tarjonta.sade.vm.fi/types"
           xmlns:tns="http://service.tarjonta.sade.vm.fi/types"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:annotation>
        <xs:documentation>
            Rakenteet jotka ovat kaytossa TarjontaPublicService WebService:sta. Nama ovat palvelu kohtaisia
            eika niita pida kayttaa saati muuttaa esimerkiksi TarjontaAdminService:n tarpeiden tai
            muiden palveluiden tarpeiden mukaan.
        </xs:documentation>
    </xs:annotation>


    <!-- moved from dto: start -->

    <xs:simpleType name="LongString">
        <xs:restriction base="xs:string">
            <xs:length value="255"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="SearchCriteriaType">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="paattyneet" type="xs:boolean"/>
            <xs:element minOccurs="1" maxOccurs="1" name="meneillaan" type="xs:boolean"/>
            <xs:element minOccurs="1" maxOccurs="1" name="tulevat" type="xs:boolean"/>
            <xs:element minOccurs="1" maxOccurs="1" name="lang" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- moved from dto: end -->


    <xs:complexType name="TarjontaTyyppi">
        <xs:sequence>
            <xs:element name="haku" type="tns:HakuTyyppi" minOccurs="1"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Perustiedot hausta.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="hakukohde" type="tns:HakukohdeTyyppi"
                        minOccurs="0" maxOccurs="unbounded">

            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HakukohdeTyyppi">
        <xs:annotation>
            <xs:documentation>
                yksittaisen atomisen hakukohteen kuvaava elementti.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>

            <xs:element name="oid" type="xs:string" minOccurs="1"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Yksilollinen tunniste hakukohteelle.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="hakukohdeNimi"
                        type="xs:string"
                        maxOccurs="1"
                        minOccurs="1"/>

            <xs:element name="hakukohdeKoodistoNimi"
                        type="xs:string"
                        maxOccurs="1"
                        minOccurs="1"/>

            <xs:element name="hakukohteenHakuOid"
                        type="xs:string"
                        maxOccurs="1"
                        minOccurs="1"/>
                        
            <xs:element name="hakukohteenHakutyyppiUri"
                        type="xs:string"
                        maxOccurs="1"
                        minOccurs="1"/>
                        
            <xs:element name="sisaisetHakuajat"
                        minOccurs="0"
                        maxOccurs="1"
                        type="tns:SisaisetHakuAjat"/>
            
            <xs:element name="hakukohteenHaunNimi"
                        type="tns:MonikielinenTekstiTyyppi"
                        maxOccurs="1"
                        minOccurs="0"/>

            <xs:element name="hakukohteenTila"
                        type="tns:TarjontaTila"
                        maxOccurs="1"
                        minOccurs="1"/>

            <xs:element name="hakukohteenKoulutusOidit"
                        type="xs:string"
                        maxOccurs="unbounded"
                        minOccurs="1"/>

            <xs:element name="aloituspaikat"
                        type="xs:int"
                        maxOccurs="1"
                        minOccurs="0"/>

            <xs:element name="valinnanAloituspaikat"
                        type="xs:int"
                        maxOccurs="1"
                        minOccurs="0"/>

            <xs:element name="hakukelpoisuusVaatimukset"
                        type="xs:string"
                        maxOccurs="1"
                        minOccurs="1"/>

            <xs:element name="lisatiedot"
                        type="tns:MonikielinenTekstiTyyppi"
                        minOccurs="0"
                        maxOccurs="1"/>

            <xs:element name="liitteidenToimitusOsoite"
                        type="tns:OsoiteTyyppi"
                        minOccurs="1"
                        maxOccurs="1"/>

            <xs:element name="sahkoinenToimitusOsoite"
                        type="xs:string"
                        maxOccurs="1"
                        minOccurs="0"/>

            <xs:element name="liitteidenToimitusPvm"
                        type="xs:dateTime"
                        maxOccurs="1"
                        minOccurs="0"/>

            <xs:element name="kaytetaanHaunPaattymisenAikaa"
                        type="xs:boolean"
                        maxOccurs="1"
                        minOccurs="0"/>

            <xs:element name="kaksoisTutkinto"
                        type="xs:boolean"
                        maxOccurs="1"
                        minOccurs="1"/>

            <xs:element name="hakukohdeKoulutukses"
                        type="tns:KoulutusKoosteTyyppi"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
            
            <xs:element name="valintaperustekuvausKoodiUri"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1"/>
                        
            <xs:element name="valintaperustekuvausTeksti"
                        type="tns:MonikielinenTekstiTyyppi"
                        minOccurs="0"
                        maxOccurs="1"/>
              
            <xs:element name="soraKuvausKoodiUri"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1"/>
            
            <xs:element name="soraKuvausTeksti"
                        type="tns:MonikielinenTekstiTyyppi"
                        minOccurs="0"
                        maxOccurs="1"/>
              
            <xs:element  name="painotettavatOppiaineet"
                         type="tns:PainotettavaOppiaineTyyppi"
                         minOccurs="0"
                         maxOccurs="unbounded"/>
            
            <xs:element  name="alinHyvaksyttavaKeskiarvo"
                         type="xs:decimal"
                         minOccurs="0"
                         maxOccurs="1"/>
            
            <xs:element name="hakukohteenKoulutusaste"
                        type="tns:KoulutusasteTyyppi"
                        minOccurs="0"
                        maxOccurs="1"/>

            <xs:element name="viimeisinPaivittajaOid"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1"/>

            <xs:element name="viimeisinPaivitysPvm"
                        type="xs:dateTime"
                        minOccurs="0"
                        maxOccurs="1"/>
                        
            <xs:element name="hakuaikaAlkuPvm"
                        type="xs:dateTime"
                        minOccurs="0"
                        maxOccurs="1"/>
                        
            <xs:element name="hakuaikaLoppuPvm"
                        type="xs:dateTime"
                        minOccurs="0"
                        maxOccurs="1"/>
        
        
            <xs:element name="opetuskieliUris" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            
            <!-- optimistic locking -->
            <xs:element name="Version" type="xs:long" minOccurs="0" maxOccurs="1"/>            
        
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HakukohdeLiiteTyyppi">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="liitteenId" type="xs:string"/>
            <xs:element minOccurs="1" maxOccurs="1" name="liitteenTyyppi" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="liitteenKuvaus" type="tns:MonikielinenTekstiTyyppi"/>
            <xs:element minOccurs="1" maxOccurs="1" name="toimitettavaMennessa" type="xs:dateTime"/>
            <xs:element minOccurs="1" maxOccurs="1" name="liitteenToimitusOsoite" type="tns:OsoiteTyyppi"/>
            <xs:element minOccurs="0" maxOccurs="1" name="sahkoinenToimitusOsoite" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="liitteenTyyppiKoodistoNimi" type="xs:string"/>
            <xs:element name="viimeisinPaivittajaOid"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1"/>

            <xs:element name="viimeisinPaivitysPvm"
                        type="xs:dateTime"
                        minOccurs="0"
                        maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OsoiteTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="osoiteRivi" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Osoiterivi</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="lisaOsoiteRivi" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Mahdollinen lisä osoiterivi</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="postinumero" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Postinumero</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="postitoimipaikka" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Postitoimipaikka</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HakuTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="oid" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Yksilollinen tunniste haulle</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="haunTunniste" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Haun tunniste</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="haunKielistetytNimet" type="tns:HaunNimi">
                <xs:annotation>
                    <xs:documentation>Haun nimet eri kielilla</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="sisaisetHakuajat" type="tns:SisaisetHakuAjat">
                <xs:annotation>
                    <xs:documentation>Haun sisaiset hakuajat</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="haunTila" type="tns:TarjontaTila">
                <xs:annotation>
                    <xs:documentation>Haun tila</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="sijoittelu"
                        type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Kaytetaanko sijoittelutoimintoa haulle
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="haunAlkamisPvm"
                        type="xs:date">
                <xs:annotation>
                    <xs:documentation>Haun alkamispaiva</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="haunLoppumisPvm"
                        type="xs:date">
                <xs:annotation>
                    <xs:documentation>Haun loppumispaiva</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="hakuVuosi"
                        type="xs:int">
                <xs:annotation>
                    <xs:documentation>Hakuvuosi ilmaistuna 4 numerolla
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="hakukausiUri"
                        type="xs:string">
                <xs:annotation>
                    <xs:documentation>Koodiston URI tunniste hakukaudelle. Esm. k tai s
                        (kevat tai syksy)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="koulutuksenAlkamisVuosi"
                        type="xs:int">
                <xs:annotation>
                    <xs:documentation>Koulutuksen alkamisvuosi ilmaistuna 4 numerolla
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="koulutuksenAlkamisKausiUri"
                        type="xs:string">
                <xs:annotation>
                    <xs:documentation>Koodiston URI tunniste koulutuksen alkamiskaudelle. Esm. k tai s
                        (kevat tai syksy)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="hakutyyppiUri"
                        type="xs:string">
                <xs:annotation>
                    <xs:documentation>Koodiston URI tunniste haun tyypille. Esm.
                        Varsinainen tai taydennyshaku
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="kohdejoukkoUri"
                        type="xs:string">
                <xs:annotation>
                    <xs:documentation>Koodiston URI tunniste kohdejoukolle, eli esm.
                        ammatillinen koulutus tai yliopistot ja ammattikorkakoulut
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="hakutapaUri"
                        type="xs:string">
                <xs:annotation>
                    <xs:documentation>Koodiston URI tunniste hakutavalle Esm.
                        yhteishaku
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="hakulomakeUrl" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Muun hakulomakkeen url
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="viimeisinPaivittajaOid"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1"/>

            <xs:element name="viimeisinPaivitysPvm"
                        type="xs:dateTime"
                        minOccurs="0"
                        maxOccurs="1"/>

            <xs:element name="hakukohteet"
                        type="tns:HakukohdeTyyppi"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
            <!-- optimistic locking -->
            <xs:element name="Version" type="xs:long" minOccurs="0" maxOccurs="1"/>            
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HaunNimi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="kielikoodi" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Haun nimen kielikoodi</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="nimi" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Haun nimi</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MonikielinenTekstiTyyppi">
        <xs:sequence>

            <xs:element minOccurs="1" maxOccurs="unbounded" name="Teksti">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Joukko kielistettyja teksteja.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="kieliKoodi" type="xs:string" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>

        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="NimettyMonikielinenTekstiTyyppi">
    	<xs:complexContent>
    		<xs:extension base="tns:MonikielinenTekstiTyyppi">
				<xs:attribute name="tunniste" type="xs:string"></xs:attribute>    		
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ValintakoeTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="valintakokeenTunniste" type="xs:string"/>
            <xs:element minOccurs="1" maxOccurs="1" name="valintakokeenTyyppi" type="xs:string"/>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="ajankohdat" type="tns:AjankohtaTyyppi">
                <xs:annotation>
                    <xs:documentation>
                        Valintakokeen ajankohdat
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="kuvaukset" type="tns:MonikielinenTekstiTyyppi">
                <xs:annotation>
                    <xs:documentation>
                        Valintakokeen kuvaukset annetuilla kielillä
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="pisterajat" type="tns:PisterajaTyyppi" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="lisaNaytot" type="tns:MonikielinenTekstiTyyppi" minOccurs="0" maxOccurs="1"/>
            <xs:element name="viimeisinPaivittajaOid"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1"/>

            <xs:element name="viimeisinPaivitysPvm"
                        type="xs:dateTime"
                        minOccurs="0"
                        maxOccurs="1"/>
        </xs:sequence>

    </xs:complexType>

    <xs:complexType name="AjankohtaTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="kuvaus" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Ajankohdan kuvaus tai nimi</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="alkamisAika" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>Alkamisaika</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="paattymisAika" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>Päättymisaika</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="valintakoeAjankohtaOsoite" type="tns:OsoiteTyyppi"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KoulutusmoduuliKoosteTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="oid" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Koulutusmoduulin oid</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element minOccurs="0" maxOccurs="1" name="parentOid" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Parent koulutusmoduulin oid</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element minOccurs="1" maxOccurs="1" name="koulutusmoduulinNimi" type="tns:MonikielinenTekstiTyyppi">
                <xs:annotation>
                    <xs:documentation>Etukateen formatoitu monikielinen nimi jota käytetään tutkinnon haussa.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element minOccurs="1" maxOccurs="1" name="koulutustyyppi" type="tns:KoulutusasteTyyppi">
                <xs:annotation>
                    <xs:documentation>Koulutuksen tyyppi
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element minOccurs="0" maxOccurs="1" name="lukiolinjakoodiUri" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Lukiolinjakoodi
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element minOccurs="1" maxOccurs="1" name="koulutuskoodiUri" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Koulutuskoodi</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="koulutusohjelmakoodiUri" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Koulutusohjelmakoodi</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="koulutusmoduuliTyyppi" type="tns:KoulutusmoduuliTyyppi">
                <xs:annotation>
                    <xs:documentation>Koulutusmoduulin tyyppi</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="koulutusasteUri" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Koulutusaste</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element minOccurs="1" maxOccurs="1" name="koulutusalaUri" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Koulutusala</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element minOccurs="1" maxOccurs="1" name="laajuusyksikkoUri" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Laajuusyksikko</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="laajuusarvoUri" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Laajuusarvo</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="tutkintonimikeUri" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Tutkintonimike</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element minOccurs="1" maxOccurs="1" name="opintoalaUri" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Opintoala</xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element minOccurs="1" maxOccurs="1" name="eqfLuokitus" type="xs:string">
                <xs:annotation>
                    <xs:documentation>EQF-luokitus</xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element minOccurs="1" maxOccurs="1" name="nqfLuokitus" type="xs:string">
                <xs:annotation>
                    <xs:documentation>NQF-luokitus</xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element minOccurs="1" maxOccurs="unbounded" name="oppilaitostyyppi" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Lista oppilaitostyyppien koodeja.</xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element minOccurs="0" maxOccurs="unbounded" name="tekstit" type="tns:NimettyMonikielinenTekstiTyyppi"/>

			<!--
            <xs:element minOccurs="1" maxOccurs="1" name="koulutuksenRakenne" type="tns:MonikielinenTekstiTyyppi">
                <xs:annotation>
                    <xs:documentation>KoulutuksenRakenne</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element minOccurs="1" maxOccurs="1" name="tavoitteet" type="tns:MonikielinenTekstiTyyppi">
                <xs:annotation>
                    <xs:documentation>Koulutukselliset ja ammatilliset tavoitteet</xs:documentation>
                </xs:annotation>
            </xs:element>

<xs:element minOccurs="1" maxOccurs="1" name="jatkoOpintoMahdollisuudet"
            type="tns:MonikielinenTekstiTyyppi">
    <xs:annotation>
        <xs:documentation>Jatko-opintomahdollisuudet</xs:documentation>
    </xs:annotation>
</xs:element>
            -->
			
            <xs:element minOccurs="1" maxOccurs="1" name="tutkinnonTavoitteet" type="tns:MonikielinenTekstiTyyppi">
                <xs:annotation>
                    <xs:documentation>Tutkinnon koulutukselliset ja ammatilliset tavoitteet</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element minOccurs="0" maxOccurs="1" name="ulkoinenTunniste" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Ulkoinen tunniste</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="viimeisinPaivittajaOid"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1"/>

            <xs:element name="viimeisinPaivitysPvm"
                        type="xs:dateTime"
                        minOccurs="0"
                        maxOccurs="1"/>
           
            <xs:element name="Nimi" type="tns:MonikielinenTekstiTyyppi" minOccurs="0" maxOccurs="1"/>           
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SisaisetHakuAjat">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="oid" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Yksilollinen tunniste haulle</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="hakuajanKuvaus" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Haun sisaisen hakuajan kuvaus</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="sisaisenHaunAlkamisPvm" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>Sisaisen haun alkamispaivamaara ja kellonaika</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="sisaisenHaunPaattymisPvm" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>Sisaisen haun paattymispaivamaara ja kellonaika</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:simpleType name="TarjontaTila">
        <xs:restriction base="xs:string">
            <xs:enumeration value="POISTETTU"/>
            <xs:enumeration value="LUONNOS"/>
            <xs:enumeration value="VALMIS"/>
            <xs:enumeration value="JULKAISTU"/>
            <xs:enumeration value="PERUTTU"/>
            <xs:enumeration value="KOPIOITU"/> 
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="HakukohdeListausTyyppi">
        <xs:sequence>
            <xs:element name="Oid" type="xs:string"></xs:element>
            <xs:element name="Nimi" type="tns:MonikielinenTekstiTyyppi"></xs:element>
            <xs:element name="KoodistoNimi" type="xs:string"></xs:element>
            <xs:element name="Tila" type="tns:TarjontaTila"></xs:element>
            <xs:element name="Aloituspaikat" type="xs:string"></xs:element>
            <xs:element name="koulutuksenAlkamiskausiUri" type="xs:string"></xs:element>
            <xs:element name="koulutuksenAlkamisvuosi" type="xs:string"></xs:element>
            <xs:element name="HakutapaKoodi" type="tns:KoodistoKoodiTyyppi"></xs:element>
            <xs:element name="Tarjoaja" type="tns:TarjoajaTyyppi"></xs:element>
            <xs:element name="hakuAlkamisPvm" type="xs:dateTime"></xs:element>
            <xs:element name="hakuPaattymisPvm" type="xs:dateTime"></xs:element>
            <xs:element name="hakukohteenKoulutuslaji" type="tns:MonikielinenTekstiTyyppi" minOccurs="0" maxOccurs="1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    

    <xs:complexType name="HakukohdeKoosteTyyppi">
        <xs:sequence>
            <xs:element name="Oid" type="xs:string"></xs:element>
            <xs:element name="Nimi" type="xs:string"></xs:element>
            <xs:element name="KoodistoNimi" type="xs:string"></xs:element>
            <xs:element name="Tila" type="tns:TarjontaTila"></xs:element>
            <xs:element name="Aloituspaikat" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HakuKoosteTyyppi">
        <xs:sequence>
            <xs:element name="Oid" type="xs:string"></xs:element>
            <xs:element name="Nimi" type="xs:string"></xs:element>
            <xs:element name="Hakutapa" type="xs:string"></xs:element>
            <xs:element name="hakukausiUri" type="xs:string"></xs:element>
            <xs:element name="hakuvuosi" type="xs:string"></xs:element>
            <xs:element name="hakuAlkamisPvm" type="xs:dateTime"></xs:element>
            <xs:element name="hakuPaattymisPvm" type="xs:dateTime"></xs:element>
            <xs:element name="koulutuksenAlkamiskausiUri" type="xs:string"></xs:element>
            <xs:element name="koulutuksenAlkamisvuosi" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TarjoajaTyyppi">
        <xs:sequence>
            <xs:element name="tarjoajaOid" type="xs:string"></xs:element>
            <xs:element name="Nimi" type="tns:MonikielinenTekstiTyyppi"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KoulutusListausTyyppi">
        <xs:sequence>
            <xs:element name="Nimi" type="tns:MonikielinenTekstiTyyppi" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element name="Koulutusmoduuli" type="xs:string"></xs:element>
            <xs:element name="KoulutusmoduuliToteutus" type="xs:string"></xs:element>
            <xs:element name="Tarjoaja" type="tns:TarjoajaTyyppi"></xs:element>
            <xs:element name="Tila" type="tns:TarjontaTila"></xs:element>
            <xs:element name="Koulutuskoodi" type="tns:KoodistoKoodiTyyppi"></xs:element>
            <xs:element name="Koulutusohjelmakoodi" type="tns:KoodistoKoodiTyyppi"></xs:element>
            <xs:element name="Tutkintonimike" type="tns:KoodistoKoodiTyyppi"></xs:element>
            <xs:element name="ajankohta" type="xs:string"></xs:element>
            <xs:element name="komotoOid" type="xs:string"></xs:element>
            <xs:element name="PohjakoulutusVaatimus" type="xs:string"></xs:element>
            <xs:element name="Koulutuslaji" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Koulutustyyppi" type="tns:KoulutusasteTyyppi" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Lukiolinjakoodi" type="tns:KoodistoKoodiTyyppi"></xs:element>
            <xs:element name="KoulutuksenAlkamiskausiUri" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="KoulutuksenAlkamisVuosi" type="xs:int" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KoulutusKoosteTyyppi">
        <xs:sequence>
            <xs:element name="Nimi" type="tns:MonikielinenTekstiTyyppi" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element name="Koulutusmoduuli" type="xs:string"></xs:element>
            <xs:element name="KoulutusmoduuliToteutus" type="xs:string"></xs:element>
            <xs:element name="Tarjoaja" type="xs:string"></xs:element>
            <xs:element name="Tila" type="tns:TarjontaTila"></xs:element>
            <xs:element name="Koulutuskoodi" type="xs:string"></xs:element>
            <xs:element name="Koulutusohjelmakoodi" type="xs:string"></xs:element>
            <xs:element name="Tutkintonimike" type="xs:string"></xs:element>
            <xs:element name="ajankohta" type="xs:string"></xs:element>
            <xs:element name="komotoOid" type="xs:string"></xs:element>
            <xs:element name="PohjakoulutusVaatimus" type="xs:string"></xs:element>
            <xs:element name="Koulutustyyppi" type="tns:KoulutusasteTyyppi" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Lukiolinjakoodi" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KoulutusTyyppi">
        <xs:sequence>
            <xs:group ref="tns:KoulutusGroup"/>
        </xs:sequence>
    </xs:complexType>

    <xs:group name="KoulutusGroup">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Koulutusta kuvaavat rakenteet.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Oid" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        KoulutusmoduuliToteutuksen OID.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Tila" type="tns:TarjontaTila"/>
            <xs:element name="KoulutusKoodi" type="tns:KoodistoKoodiTyyppi"/>
            <xs:element name="KoulutusohjelmaKoodi" type="tns:KoodistoKoodiTyyppi" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Opetusmuoto" type="tns:KoodistoKoodiTyyppi" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="Opetuskieli" type="tns:KoodistoKoodiTyyppi" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="KoulutuksenAlkamisPaiva" type="xs:dateTime"/>
            <xs:element name="Kesto" type="tns:KoulutuksenKestoTyyppi"/>
            <xs:element name="Koulutuslaji" type="tns:KoodistoKoodiTyyppi" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="Pohjakoulutusvaatimus" type="tns:KoodistoKoodiTyyppi" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Linkki" type="tns:WebLinkkiTyyppi" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="YhteyshenkiloTyyppi" type="tns:YhteyshenkiloTyyppi" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Koulutusaste" type="tns:KoodistoKoodiTyyppi"/>
            <xs:element name="Tarjoaja" type="xs:string"/>
            <xs:element name="Nimi" type="tns:MonikielinenTekstiTyyppi" minOccurs="1" maxOccurs="1"/>
            <!-- Valmentava ja kuntouttava opetus -koulutustyypilla -->
            <xs:element name="Laajuus" type="tns:KoulutuksenKestoTyyppi"/>          
            <!-- 
           <xs:element name="KoulutusohjelmanValinta" type="tns:MonikielinenTekstiTyyppi" minOccurs="1" maxOccurs="1"/>
           <xs:element name="Painotus" type="tns:MonikielinenTekstiTyyppi" minOccurs="0" maxOccurs="1"/>
            -->
            <xs:element name="Koulutustyyppi" type="tns:KoulutusasteTyyppi" minOccurs="0" maxOccurs="1"/>

            <!-- Koulutuksen lisätiedot (additional information) -->
            <xs:element name="Ammattinimikkeet" type="tns:KoodistoKoodiTyyppi" minOccurs="1" maxOccurs="unbounded"/>
            <!-- 
           <xs:element name="KuvailevatTiedot" type="tns:MonikielinenTekstiTyyppi" minOccurs="0" maxOccurs="1"/>
           <xs:element name="Sisalto" type="tns:MonikielinenTekstiTyyppi" minOccurs="0" maxOccurs="1"/>
           <xs:element name="SijoittuminenTyoelamaan" type="tns:MonikielinenTekstiTyyppi" minOccurs="0" maxOccurs="1"/>
           <xs:element name="Kansainvalistyminen" type="tns:MonikielinenTekstiTyyppi" minOccurs="0" maxOccurs="1"/>
           <xs:element name="YhteistyoMuidenToimijoidenKanssa" type="tns:MonikielinenTekstiTyyppi" minOccurs="0" maxOccurs="1"/>
            -->

            <xs:element minOccurs="0" maxOccurs="unbounded" name="tekstit" type="tns:NimettyMonikielinenTekstiTyyppi"/>

            <!--Lukiokoulutukselle spesifeja tietoja -->
            <xs:element name="LukiolinjaKoodi" type="tns:KoodistoKoodiTyyppi" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Lukiodiplomit" type="tns:KoodistoKoodiTyyppi" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="A1A2Kieli" type="tns:KoodistoKoodiTyyppi" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="B1Kieli" type="tns:KoodistoKoodiTyyppi" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="B2Kieli" type="tns:KoodistoKoodiTyyppi" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="B3Kieli" type="tns:KoodistoKoodiTyyppi" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="MuutKielet" type="tns:KoodistoKoodiTyyppi" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element name="viimeisinPaivittajaOid"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1"/>

            <xs:element name="viimeisinPaivitysPvm"
                        type="xs:dateTime"
                        minOccurs="0"
                        maxOccurs="1"/>

            <!-- optimistic locking -->
            <xs:element name="Version" type="xs:long" minOccurs="0" maxOccurs="1"/>    
            
            
            <!-- Korkeakoululle spesifeja tietoja -->     
            <xs:element name="Teemat" type="tns:KoodistoKoodiTyyppi" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="PohjakoulutusvaatimusKorkeakoulu" type="tns:KoodistoKoodiTyyppi" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Maksullisuus" type="xs:boolean" minOccurs="0" maxOccurs="1"/>           
            <xs:element name="Koulutusmoduuli" type="tns:KoulutusmoduuliKoosteTyyppi" minOccurs="1" maxOccurs="1" />         
            <xs:element name="Hinta" type="xs:string"/>
            
            <xs:element minOccurs="0" maxOccurs="1" name="ulkoinenTunniste" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Ulkoinen tunniste</xs:documentation>
                </xs:annotation>
            </xs:element>
            
        </xs:sequence>
    </xs:group>


    <xs:complexType name="KoulutuksenKestoTyyppi">
        <xs:sequence>
            <xs:element name="Arvo" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Arvo siten kun kayttaja on sen syottanyt.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Yksikko" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Yksikko on koodisto viittaus.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="WebLinkkiTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Web linkki jolle annetaan tyyppi seka optionaalinen kieli. Linkin kieli ja tyyppi yhdessa yksiloivat
                linkin.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tyyppi" type="xs:token">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Linkin tyyppi. Arvona
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kieli" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Jos linkki patee vain yhdelle kielelle voidaan
                        sen antaa tassa. Esimerkki likki: http://somedomain/guide-en.pdf
                        jossa sisalta on kielistettya. Arvona on kielen koodisto uri (?).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Uri" type="xs:anyURI">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Linkin uri.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="KoodistoKoodiTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Yhden Koodisto koodin tietojen kuvaus. Rakenteella
                voidaan joko ainoastaan viitata koodiin uri:lla tai siirtaa
                tietoja kopioituina arvoina (by value).
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Uri" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Koodin versioimaton uri.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Versio" type="xs:int" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Koodin versio.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Arvo" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Koodin arvo.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Nimi" minOccurs="0" maxOccurs="99">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Koodin kielistetty nimi.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="kieli" type="tns:KieliKoodiTyyppi" use="required">
                                <xs:annotation>
                                    <xs:documentation>
                                        Nimen kieli koodi.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="YhteyshenkiloTyyppi">
        <xs:sequence>
            <xs:element name="henkiloOid" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Henkilon Oid henkilo palvelussa. Mikali henkilo ei ole tunnistettu
                        hekilo palvelussa, tama kentta voi olla tyhja (null).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Etunimet" type="xs:string">
            </xs:element>
            <xs:element name="Sukunimi" type="xs:string">
            </xs:element>
            <xs:element name="Titteli" type="xs:string" minOccurs="0" maxOccurs="1">
            </xs:element>
            <xs:element name="Sahkoposti" type="xs:string" minOccurs="0" maxOccurs="1">
            </xs:element>
            <xs:element name="Puhelin" type="xs:string" minOccurs="0" maxOccurs="1">
            </xs:element>
            <xs:element name="Kielet" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">
                        Lista kielikoodeja joita tama yhteyshenkilo vastaa.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="henkiloTyyppi" type="tns:HenkiloTyyppi" minOccurs="0" maxOccurs="1">
            </xs:element>

        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="KoulutusmoduuliTyyppi">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TUTKINNON_OSA"/>
            <xs:enumeration value="TUTKINTO"/>
            <xs:enumeration value="TUTKINTO_OHJELMA"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="KieliKoodiTyyppi">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="PainotettavaOppiaineTyyppi">
        <xs:sequence>
            <xs:element name="painotettavaOppiaineTunniste" type="xs:string"/>
            <xs:element name="oppiaine" type="xs:string"/>
            <xs:element name="painokerroin" type="xs:double"/>
            <xs:element name="version" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="PisterajaTyyppi">
        <xs:sequence>
            <xs:element name="pisterajaTunniste" type="xs:string"/>
            <xs:element name="valinnanPisteraja" type="tns:ValinnanPisterajaTyyppi" />
            <xs:element name="alinPistemaara" type="xs:double"/>
            <xs:element name="ylinPistemaara" type="xs:double"/>
            <xs:element name="alinHyvaksyttyPistemaara" type="xs:double"/> 
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GenericFaultInfo">
        <xs:sequence>
            <xs:element name="errorCode" type="xs:string"></xs:element>
            <xs:element name="explanation" type="xs:string"
                        maxOccurs="1" minOccurs="0">
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="TarjontaVirheKoodi">
        <xs:restriction base="xs:string">
            <xs:enumeration value="KOULUTUSTA_EI_OLEMASSA"/>
            <xs:enumeration value="OID_EI_OLEMASSA"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OidTyyppi">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9\.]*"/>
            <xs:minLength value="14"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SisaltoTyyppi">
        <xs:restriction base="xs:string">
            <xs:enumeration value="KOMO"/>
            <xs:enumeration value="KOMOTO"/>
            <xs:enumeration value="HAKU"/>
            <xs:enumeration value="HAKUKOHDE"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="KoulutusasteTyyppi">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AmmatillinenPeruskoulutus" />
            <xs:enumeration value="Lukiokoulutus"/>
            <xs:enumeration value="Korkeakoulutus"/>
            <xs:enumeration value="PerusopetuksenLisaopetus"/>   
            <xs:enumeration value="ValmentavaJaKuntouttavaOpetus" />
            <xs:enumeration value="AmmOhjaavaJaValmistavaKoulutus" /><!-- Ammatilliseen koulutukseen ohjaava ja valmistava koulutus -->
            <xs:enumeration value="MaahanmAmmValmistavaKoulutus" /><!-- Maahanmuuttajien ammatilliseen koulutukseen valmistava koulutus -->
            <xs:enumeration value="MaahanmLukioValmistavaKoulutus" /><!-- Maahanmuuttajien lukiokoulutukseen valmistava koulutus -->
            <xs:enumeration value="VapaanSivistystyonKoulutus" /><!-- Vapaan sivistystyon koulutus -->
            <xs:enumeration value="Perusopetus" /><!-- Perusopetus / peruskoulu kotimaa -->
            <xs:enumeration value="PerusopetusUlkomainen" /><!-- Perusopetus / peruskoulu ulkomainen -->
            <xs:enumeration value="AmmatillinenPerustutkintoNayttotutkintona" /><!-- aikuiskoulutus -->
            <xs:enumeration value="Erikoisammattitutkinto" /><!-- aikuiskoulutus -->
            <xs:enumeration value="Ammattitutkinto" /><!-- aikuiskoulutus -->
            <xs:enumeration value="Tuntematon" /><!-- geneerinen tuntematon -->      
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ValinnanPisterajaTyyppi">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Paasykoe"/>
            <xs:enumeration value="Lisapisteet"/>
            <xs:enumeration value="Kokonaispisteet"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="MonikielinenMetadataTyyppi">
        <xs:annotation>
            <xs:documentation>
                Monikielinen metadata. Yksi elementti kuvaa vain yhden tyypin.
                Avain, kategoria ja kieli muodostavat yksiloivan avaimen.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="avain" type="tns:LongString"/>
            <xs:element minOccurs="1" maxOccurs="1" name="kategoria" type="tns:LongString"/>
            <xs:element minOccurs="1" maxOccurs="1" name="kieli" type="tns:LongString"/>
            <xs:element minOccurs="1" maxOccurs="1" name="arvo" type="tns:LongString"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="HenkiloTyyppi">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EctsKoordinaattori" />
            <xs:enumeration value="Yhteyshenkilo"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="HakusanaTyyppi">
        <xs:sequence>
            <xs:element name="hakusana" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
            <xs:element name="kieliUri" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="KuvaTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kuva tyyppi.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="mimeType" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="fileName" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="kuva" type="xs:base64Binary"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
