tarjonta-api/src/main/resources/wsdl/tarjontaAdminService.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema elementFormDefault="unqualified"
           targetNamespace="http://service.tarjonta.sade.vm.fi/types" version="1.0"
           xmlns:tns="http://service.tarjonta.sade.vm.fi/types"
           xmlns:tnsh="http://service.tarjonta.sade.vm.fi/types/dto"
           xmlns:tarjonta="http://service.tarjonta.sade.vm.fi/types/tarjonta"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">


    <xs:import namespace="http://service.tarjonta.sade.vm.fi/types/tarjonta" schemaLocation="tarjonta.xsd" />


    <xs:element name="lisaaHaku" type="tns:LisaaHakuType"/>
    <xs:element name="lisaaHakuVastaus" type="tns:LisaaHakuVastausType"/>

    <xs:element name="paivitaHaku" type="tns:PaivitaHakuType"/>
    <xs:element name="paivitaHakuVastaus" type="tns:PaivitaHakuVastausType"/>

    <xs:element name="poistaHaku" type="tns:PoistaHakuType"/>
    <xs:element name="poistaHakuVastaus" type="tns:PoistaHakuVastausType"/>



    <xs:complexType name="LisaaHakuType">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="hakuDto" type="tarjonta:HakuTyyppi" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LisaaHakuVastausType">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="hakuVastausDto" type="tarjonta:HakuTyyppi" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PaivitaHakuType">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="hakuDto" type="tarjonta:HakuTyyppi"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PaivitaHakuVastausType">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="hakuVastausDto" type="tarjonta:HakuTyyppi"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PoistaHakuType">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="hakuDto" type="tarjonta:HakuTyyppi"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PoistaHakuVastausType">
        <xs:sequence/>
    </xs:complexType>



</xs:schema>