tarjonta-api/src/main/resources/wsdl/tarjontaPublicService.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema elementFormDefault="unqualified"
           targetNamespace="http://service.tarjonta.sade.vm.fi/types" version="1.0"
           xmlns:tns="http://service.tarjonta.sade.vm.fi/types"
           xmlns:tarjonta="http://service.tarjonta.sade.vm.fi/types"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">


    <xs:import namespace="http://service.tarjonta.sade.vm.fi/types" schemaLocation="tarjonta.xsd" />


    <xs:element name="listaaHaku" type="tns:ListaaHakuTyyppi" />
    <xs:element name="listaaHakuVastaus" type="tns:ListHakuVastausTyyppi" />
    <xs:element name="haeTarjonta" type="tns:HaeTarjontaTyyppi" />
    <xs:element name="haeTarjontaVastaus" type="tns:HaeTarjontaVastausTyyppi" />

    <xs:element name="haeHakukohteetKysely" type="tns:HaeHakukohteetKyselyTyyppi" />
    <xs:element name="haeHakukohteetVastaus" type="tns:HaeHakukohteetVastausTyyppi" />

    <xs:element name="haeKoulutuksetKysely" type="tns:HaeKoulutuksetKyselyTyyppi" />
    <xs:element name="haeKoulutuksetVastaus" type="tns:HaeKoulutuksetVastausTyyppi" />

    <xs:element name="haeKoulutusmoduulitKysely" type="tns:HaeKoulutusmoduulitKyselyTyyppi" />
    <xs:element name="haeKoulutusmoduulitVastaus" type="tns:HaeKoulutusmoduulitVastausTyyppi" />

    <xs:element name="lueKoulutusKysely" type="tns:LueKoulutusKyselyTyyppi" />
    <xs:element name="lueKoulutusVastaus" type="tns:LueKoulutusVastausTyyppi" />

    <xs:element name="lueHakukohdeKysely" type="tns:LueHakukohdeKyselyTyyppi" />
    <xs:element name="lueHakukohdeVastaus" type="tns:LueHakukohdeVastausTyyppi" />
    
    <xs:element name="LueHakukohdeKoulutuksineenKysely" type="tns:LueHakukohdeKoulutuksineenKyselyTyyppi"/>
    <xs:element name="LueHakukohdeKoulutuksineenVastaus" type="tns:LueHakukohdeKoulutuksineenVastausTyyppi"/>

    <xs:element name="haeHakukohteenLiitteetKysely" type="tns:HaeHakukohteenLiitteetKyselyTyyppi"/>
    <xs:element name="haeHakukohteenLiitteetVastausTyyppi" type="tns:HaeHakukohteenLiitteetVastausTyyppi"/>
    
    <xs:element name="lueHakukohteenLiiteTunnisteellaKyselyTyyppi" type="tns:LueHakukohteenLiiteTunnisteellaKyselyTyyppi" />
    <xs:element name="lueHakukohteenLiiteTunnisteellaVastausTyyppi" type="tns:LueHakukohteenLiiteTunnisteellaVastausTyyppi"/>

    <xs:complexType name="HaeHakukohteenLiitteetKyselyTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="hakukohdeOid" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HaeHakukohteenLiitteetVastausTyyppi">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="hakukohteenLiitteet" type="tarjonta:HakukohdeLiiteTyyppi" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ListaaHakuTyyppi">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="vainSijoittelu" type="xs:boolean" />
            <xs:element minOccurs="0" maxOccurs="1" name="alkaen" type="xs:date" />
            <xs:element minOccurs="0" maxOccurs="1" name="loppuen" type="xs:date" />
            <xs:element minOccurs="0" maxOccurs="1" name="hakuOid" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="hakuSana" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="hakuSanaKielikoodi" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ListHakuVastausTyyppi">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="response" type="tarjonta:HakuTyyppi" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HaeTarjontaTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="oid" type="xs:string" >
                <xs:annotation>
                    <xs:documentation>Yksilollinen tunniste haulle.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HaeTarjontaVastausTyyppi">
        <xs:sequence>
            <xs:element name="tarjonta" type="tarjonta:TarjontaTyyppi" maxOccurs="1" minOccurs="0">

            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="HaeHakukohteetKyselyTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Haku objekti jolla valitetaan haku kriteerit.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="nimi" minOccurs="0" maxOccurs="1" type="xs:string"/>
            <xs:element name="tarjoajaOids" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
            <xs:element name="koulutuksenAlkamisvuosi" minOccurs="0" maxOccurs="1" type="xs:int"/>
            <xs:element name="koulutuksenAlkamiskausi" minOccurs="0" maxOccurs="1" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HaeHakukohteetVastausTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="HakukohdeTulos"
                        minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Hakukohde" type="tarjonta:HakukohdeKoosteTyyppi"/>
                        <xs:element name="Haku" type="tarjonta:HakuKoosteTyyppi"/>
                        <xs:element name="Koulutus" type="tarjonta:KoulutusKoosteTyyppi"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HaeKoulutuksetKyselyTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Haku objekti jolla valitetaan haku kriteerit.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="nimi" minOccurs="0" maxOccurs="1" type="xs:string"/>
            <xs:element name="tarjoajaOids" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
            <xs:element name="koulutusOids" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
            <xs:element name="koulutuksenAlkamisvuosi" minOccurs="0" maxOccurs="1" type="xs:int"/>
            <xs:element name="koulutuksenAlkamiskausi" minOccurs="0" maxOccurs="1" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HaeKoulutuksetVastausTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="KoulutusTulos"
                        minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Koulutus" type="tarjonta:KoulutusKoosteTyyppi"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HaeKoulutusmoduulitKyselyTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Haku objekti jolla valitetaan haku kriteerit.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="koulutuskoodiUri" minOccurs="0" maxOccurs="1" type="xs:string"/>
            <xs:element name="koulutusohjelmakoodiUri" minOccurs="0" maxOccurs="1" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HaeKoulutusmoduulitVastausTyyppi">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="KoulutusmoduuliTulos"
                        minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                       <xs:element name="koulutusmoduuli" type="tarjonta:KoulutusmoduuliKoosteTyyppi" minOccurs="1" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LueKoulutusKyselyTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="oid" type="xs:string" >
                <xs:annotation>
                    <xs:documentation>Yksilollinen tunniste koulutukselle.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LueKoulutusVastausTyyppi">
        <xs:sequence>
            <xs:group ref="tarjonta:KoulutusGroup"/>
            <xs:element name="Yhteyshenkilo" type="tarjonta:YhteyshenkiloTyyppi" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Koulutusmoduuli" type="tarjonta:KoulutusmoduuliKoosteTyyppi" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Hakukohteet" type="tarjonta:HakukohdeKoosteTyyppi" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LueHakukohdeKyselyTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="oid" type="xs:string" >
                <xs:annotation>
                    <xs:documentation>Yksilollinen tunniste koulutukselle.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="LueHakukohdeVastausTyyppi">
        <xs:sequence>
            <xs:element name="hakukohde" type="tarjonta:HakukohdeTyyppi"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LueHakukohdeKoulutuksineenKyselyTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="hakukohdeOid" type="xs:string">
               <xs:annotation>
                   <xs:documentation>Hakukohteen yksilöllinen oid</xs:documentation>
               </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LueHakukohdeKoulutuksineenVastausTyyppi">
        <xs:sequence>
           <xs:element minOccurs="1" maxOccurs="1" name="hakukohde" type="tarjonta:HakukohdeTyyppi">
               <xs:annotation>
                   <xs:documentation>Hakukohde joka sisältää mahdolliset siihen liitetyt koulutukset</xs:documentation>
               </xs:annotation>
           </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="LueHakukohteenLiiteTunnisteellaKyselyTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="hakukohteenLiiteTunniste" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Hakukohteen liitteen yksilöivä tunniste</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LueHakukohteenLiiteTunnisteellaVastausTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="hakukohteenLiite" type="tarjonta:HakukohdeLiiteTyyppi">
                <xs:annotation>
                    <xs:documentation>Hakukohteen liite</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>



</xs:schema>