tarjonta-api/src/main/resources/wsdl/tarjontaAdminService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="tarjontaAdminService"
                  targetNamespace="http://service.tarjonta.sade.vm.fi/"
                  xmlns:ns1="http://service.tarjonta.sade.vm.fi/types"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://service.tarjonta.sade.vm.fi/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <wsdl:types>
        <xsd:schema targetNamespace="http://service.tarjonta.sade.vm.fi/">
            <xsd:import namespace="http://service.tarjonta.sade.vm.fi/types" schemaLocation="tarjontaAdminService.xsd" />
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="lisaaHaku">
        <wsdl:part element="ns1:lisaaHaku" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="lisaaHakuVastaus">
        <wsdl:part element="ns1:lisaaHakuVastaus" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="paivitaHaku">
        <wsdl:part element="ns1:paivitaHaku" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="paivitaHakuVastaus">
        <wsdl:part element="ns1:paivitaHakuVastaus" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="poistaHaku">
        <wsdl:part element="ns1:poistaHaku" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="poistaHakuVastaus">
        <wsdl:part element="ns1:poistaHakuVastaus" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="lisaaKoulutus">
        <wsdl:part element="ns1:lisaaKoulutus" name="koulutus"/>
    </wsdl:message>

    <wsdl:message name="lisaaKoulutusVastaus">
        <wsdl:part element="ns1:lisaaKoulutusVastaus" name="parameters"/>
    </wsdl:message>
    
    <wsdl:message name="lisaaHakukohde">
        <wsdl:part element="ns1:lisaaHakukohde" name="parameters"/>
    </wsdl:message>
    
    <wsdl:message name="lisaaHakukohdeVastaus">
        <wsdl:part element="ns1:lisaaHakukohdeVastaus" name="parameters"/>
    </wsdl:message>
    
    <wsdl:message name="paivitaHakukohde">
        <wsdl:part element="ns1:paivitaHakukohde" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="paivitaHakukohdeVastaus">
        <wsdl:part element="ns1:paivitaHakukohdeVastaus" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="poistaHakukohde">
        <wsdl:part element="ns1:poistaHakukohde" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="poistaHakukohdeVastaus">
        <wsdl:part element="ns1:poistaHakukohdeVastaus" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="initSample">
        <!-- no args -->
    </wsdl:message>

    <wsdl:portType name="TarjontaAdminService">

        <wsdl:documentation>
            Palvelu hakujen yllapitoon.
        </wsdl:documentation>
        
        <wsdl:operation name="lisaaHakukohde">
            <wsdl:documentation>
                Lisaa hakukohde
            </wsdl:documentation>
             <wsdl:input message="tns:lisaaHakukohde" name="lisaaHakukohde">
            </wsdl:input>
            <wsdl:output message="tns:lisaaHakukohdeVastaus" name="lisaaHakukohdeVastaus">
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="paivitaHakukohde">
            <wsdl:documentation>
                Paivita hakukohde
            </wsdl:documentation>
             <wsdl:input message="tns:paivitaHakukohde" name="paivitaHakukohde">
            </wsdl:input>
            <wsdl:output message="tns:paivitaHakukohdeVastaus" name="paivitaHakukohdeVastaus">
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="poistaHakukohde">
            <wsdl:documentation>
                Poista hakukohde
            </wsdl:documentation>
             <wsdl:input message="tns:poistaHakukohde" name="poistaHakukohde">
            </wsdl:input>
            <wsdl:output message="tns:poistaHakukohdeVastaus" name="poistaHakukohdeVastaus">
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="lisaaHaku">
            <wsdl:documentation>
                Lisaa haku
            </wsdl:documentation>
            <wsdl:input message="tns:lisaaHaku" name="lisaaHaku">
            </wsdl:input>
            <wsdl:output message="tns:lisaaHakuVastaus" name="lisaaHakuVastaus">
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="paivitaHaku">
            <wsdl:documentation>
                Paivita haku
            </wsdl:documentation>
            <wsdl:input message="tns:paivitaHaku" name="paivitaHaku">
            </wsdl:input>
            <wsdl:output message="tns:paivitaHakuVastaus" name="paivitaHakuVastaus">
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="poistaHaku">
            <wsdl:documentation>
                Poista haku
            </wsdl:documentation>
            <wsdl:input message="tns:poistaHaku" name="poistaHaku">
            </wsdl:input>
            <wsdl:output message="tns:poistaHakuVastaus" name="poistaHakuVastaus">
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="lisaaKoulutus">
            <wsdl:documentation>
                Lisaa uusi koulutus
            </wsdl:documentation>
            <wsdl:input message="tns:lisaaKoulutus" name="lisaaKoulutus">
            </wsdl:input>
            <wsdl:output message="tns:lisaaKoulutusVastaus" name="lisaaKoulutusVastaus">
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="initSample">
            <wsdl:documentation>
                Alustaa tarjonnan esimerkki datalla. Poistetaan kunnes koodisto tarjoaa
                riittavan maaran dataa.
            </wsdl:documentation>
            <wsdl:input message="tns:initSample"/>
        </wsdl:operation>

    </wsdl:portType>


    <wsdl:binding name="TarjontaAdminServiceSoapBinding" type="tns:TarjontaAdminService">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="lisaaHaku">
            <soap:operation soapAction="http://service.tarjonta.sade.vm.fi/lisaaHaku"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="lisaaHakukohde">
            <soap:operation soapAction="" type="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
         <wsdl:operation name="paivitaHakukohde">
            <soap:operation soapAction="" type="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="poistaHakukohde">
            <soap:operation soapAction="" type="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>


    <wsdl:service name="TarjontaAdminService">
        <wsdl:port name="TarjontaAdminServicePort" binding="tns:TarjontaAdminServiceSoapBinding">
            <soap:address location="http://localhost:8181/cxf/tarjontaAdminService" />
        </wsdl:port>
    </wsdl:service>


</wsdl:definitions>