tarjonta-api/src/main/resources/wsdl/tarjonta.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema elementFormDefault="unqualified"
           targetNamespace="http://service.tarjonta.sade.vm.fi/types/tarjonta"
           version="1.0" xmlns:tns="http://service.tarjonta.sade.vm.fi/types/tarjonta"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:annotation>
        <xs:documentation>
            Rakenteet jotka ovat kaytossa TarjontaPublicService WebService:sta. Nama ovat palvelu kohtaisia
            eika niita pida kayttaa saati muuttaa esimerkiksi TarjontaAdminService:n tarpeiden tai
            muiden palveluiden tarpeiden mukaan.
        </xs:documentation>
    </xs:annotation>

    <xs:complexType name="TarjontaTyyppi">
        <xs:sequence>
            <xs:element name="haku" type="tns:HakuTyyppi" minOccurs="1"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Perustiedot hausta.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="hakukohde" type="tns:HakukohdeTyyppi"
                        minOccurs="0" maxOccurs="unbounded">

            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HakukohdeTyyppi">
        <xs:annotation>
            <xs:documentation>
                yksittaisen atomisen hakukohteen kuvaava elementti.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>

            <xs:element name="oid" type="xs:string" minOccurs="1"
                        maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Yksilollinen tunniste hakukohteelle.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="hakukohdeNimi"
                        type="xs:string"
                        maxOccurs="1"
                        minOccurs="1" />
            
            <xs:element name="hakukohteenHaku"
                        type="tns:HakuTyyppi"
                        maxOccurs="1"
                        minOccurs="1" />
            
            <xs:element name="aloituspaikat" 
                        type="xs:int"
                        maxOccurs="1"
                        minOccurs="1"/>
            
            <xs:element name="hakukelpoisuusVaatimukset"
                        type="xs:string"
                        maxOccurs="1"
                        minOccurs="1"/>
            
            <xs:element name="lisatiedot"
                        type="tns:MonikielinenTekstiTyyppi"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
            
            <xs:element name="valintaPerusteidenKuvaukset"
                        type="tns:MonikielinenTekstiTyyppi"
                        minOccurs="0"
                        maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HakuTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="oid" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Yksilollinen tunniste haulle</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="haunTunniste" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Haun tunniste</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="haunKielistetytNimet" type="tns:HaunNimi">
                <xs:annotation>
                    <xs:documentation>Haun nimet eri kielilla</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="sisaisetHakuajat" type="tns:SisaisetHakuAjat">
                <xs:annotation>
                    <xs:documentation>Haun sisaiset hakuajat</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="haunTila" type="tns:HaunTila">
                <xs:annotation>
                    <xs:documentation>Haun tila</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="sijoittelu"
                        type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Kaytetaanko sijoittelutoimintoa haulle
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="haunAlkamisPvm"
                        type="xs:date">
                <xs:annotation>
                    <xs:documentation>Haun alkamispaiva </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="haunLoppumisPvm"
                        type="xs:date">
                <xs:annotation>
                    <xs:documentation>Haun loppumispaiva</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="hakuVuosi"
                        type="xs:int">
                <xs:annotation>
                    <xs:documentation>Hakuvuosi ilmaistuna 4 numerolla
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="hakukausiUri"
                        type="xs:string">
                <xs:annotation>
                    <xs:documentation>Koodiston URI tunniste hakukaudelle. Esm. k tai s
                        (kevat tai syksy)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="koulutuksenAlkamisVuosi"
                        type="xs:int">
                <xs:annotation>
                    <xs:documentation>Koulutuksen alkamisvuosi ilmaistuna 4 numerolla
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="koulutuksenAlkamisKausiUri"
                        type="xs:string">
                <xs:annotation>
                    <xs:documentation>Koodiston URI tunniste koulutuksen alkamiskaudelle. Esm. k tai s
                        (kevat tai syksy)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="hakutyyppiUri"
                        type="xs:string">
                <xs:annotation>
                    <xs:documentation>Koodiston URI tunniste haun tyypille. Esm.
                        Varsinainen tai taydennyshaku
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="kohdejoukkoUri"
                        type="xs:string">
                <xs:annotation>
                    <xs:documentation>Koodiston URI tunniste kohdejoukolle, eli esm.
                        ammatillinen koulutus tai yliopistot ja ammattikorkakoulut
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="hakutapaUri"
                        type="xs:string">
                <xs:annotation>
                    <xs:documentation>Koodiston URI tunniste hakutavalle Esm.
                        yhteishaku
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="hakulomakeUrl" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Muun hakulomakkeen url
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HaunNimi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="kielikoodi" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Haun nimen kielikoodi</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="nimi" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Haun nimi</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="MonikielinenTekstiTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="tekstinKielikoodi" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Tekstin kielikoodi</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="teksti" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Teksti</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ValintakoeTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="ajankohdat" type="tns:AjankohtaTyyppi">
                <xs:annotation>
                    <xs:documentation>
                        Valintakokeen ajankohdat
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="kuvaukset" type="tns:MonikielinenTekstiTyyppi">
                <xs:annotation>
                    <xs:documentation>
                        Valintakokeen kuvaukset annetuilla kielillä
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        
    </xs:complexType>
    
    <xs:complexType name="AjankohtaTyyppi">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="kuvaus" type="xs:String">
                <xs:annotation>
                    <xs:documentation>Ajankohdan kuvaus tai nimi</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="alkamisAika" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>Alkamisaika</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="paattymisAika" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>Päättymisaika</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SisaisetHakuAjat">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="hakuajanKuvaus" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Haun sisaisen hakuajan kuvaus</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="sisaisenHaunAlkamisPvm" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Sisaisen haun alkamispaivamaara</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="sisaisenHaunPaattymisPvm" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Sisaisen haun paattymispaivamaara</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="HaunTila">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LUONNOS"/>
            <xs:enumeration value="VALMIS"/>
            <xs:enumeration value="JULKAISTU"/>
        </xs:restriction>

    </xs:simpleType>


    <xs:complexType name="HakukohdeKoosteTyyppi">
        <xs:sequence>
            <xs:element name="Oid" type="xs:string"></xs:element>
            <xs:element name="Nimi" type="xs:string"></xs:element>
            <xs:element name="Tila" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HakuKoosteTyyppi">
        <xs:sequence>
            <xs:element name="Oid" type="xs:string"></xs:element>
            <xs:element name="Nimi" type="xs:string"></xs:element>
            <xs:element name="Hakutapa" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KoulutusKoosteTyyppi">
        <xs:sequence>
            <xs:element name="Nimi" type="xs:string"></xs:element>
            <xs:element name="Koulutusmoduuli" type="xs:string"></xs:element>
            <xs:element name="KoulutusmoduuliToteutus" type="xs:string"></xs:element>
            <xs:element name="Tarjoaja" type="xs:string"></xs:element>
            <xs:element name="Tila" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:group name="KoulutusGroup">
        <xs:annotation>
            <xs:documentation xml:lang="fi">
                Koulutusta kuvaavat rakenteet.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Oid" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        KoulutusmoduuliToteutuksen OID.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="KoulutusKoodi" type="xs:string"/>
            <xs:element name="KoulutusohjelmaKoodi" type="xs:string"/>
            <xs:element name="Opetusmuoto" type="xs:string"/>
            <xs:element name="Opetuskieli" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>



    <xs:simpleType name="KoulutusmoduuliTyyppi">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TUTKINNON_OSA"/>
            <xs:enumeration value="TUTKINTO_OHJELMA"/>
        </xs:restriction>
    </xs:simpleType>


</xs:schema>